In [7]:
import numpy as np
import pandas as pd
import os
import warnings
os.chdir(os.getcwd())
warnings.filterwarnings(action='ignore')
#경고 메시지 숨기기

### 2020/2021 1~3월 데이터 불러오기 ###

In [8]:
#Csv파일 불러오기
Jan20 = pd.read_csv('./202001.csv', encoding='utf-8-sig')
Jan21 = pd.read_csv('./202101.csv', encoding='utf-8-sig')
Feb20 = pd.read_csv('./202002.csv', encoding='utf-8-sig')
Feb21 = pd.read_csv('./202102.csv', encoding='utf-8-sig')
Mar20 = pd.read_csv('./202003.csv', encoding='utf-8-sig')
Mar21 = pd.read_csv('./202103.csv', encoding='utf-8-sig')

### 2020/2021 1~3월 데이터 산지별 거래량 합계 전처리 ###

In [9]:
sum_trading_volume = Jan20.groupby(Jan20['산지명'])['거래량'].sum().reset_index()
#20산지 별 거래량 합계
sum_trading_volume

          산지명     거래량
0         강원도    3915
1     강원도 강릉시   46925
2     강원도 동해시   10946
3     강원도 원주시    6382
4     강원도 인제군   70467
..        ...     ...
147  충청북도 음성군      78
148  충청북도 제천시   10625
149  충청북도 진천군     591
150  충청북도 청주시  292296
151  충청북도 충주시   54295

[152 rows x 2 columns]

In [10]:
asc_df_MTV = sum_trading_volume.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV

     index       산지명      거래량
0      109  전라남도 진도군  2049449
1      102  전라남도 신안군  1607819
2       11   경기도 구리시   364288
3       70     부산광역시   317795
4      150  충청북도 청주시   292296
..     ...       ...      ...
147    121  전라북도 임실군       70
148    108  전라남도 장흥군       43
149     29  경상남도 거창군       40
150     31  경상남도 남해군       40
151    134  충청남도 보령시       36

[152 rows x 3 columns]

In [11]:
asc_df_MTV.sum()

index                                                11476
산지명      전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...
거래량                                                8876265
dtype: object

In [12]:
asc_df_MTV.loc["Total", :] = asc_df_MTV.sum()
#거래량 합계 total 행 추가

In [13]:
asc_df_MTV

         index                                                산지명        거래량
0        109.0                                           전라남도 진도군  2049449.0
1        102.0                                           전라남도 신안군  1607819.0
2         11.0                                            경기도 구리시   364288.0
3         70.0                                              부산광역시   317795.0
4        150.0                                           충청북도 청주시   292296.0
...        ...                                                ...        ...
148      108.0                                           전라남도 장흥군       43.0
149       29.0                                           경상남도 거창군       40.0
150       31.0                                           경상남도 남해군       40.0
151      134.0                                           충청남도 보령시       36.0
Total  11476.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...  8876265.0

[153 rows x 3 columns]

In [14]:
Total_trading1 = asc_df_MTV.iloc[[-1], :]
#total행 선택

In [15]:
Total_trading1.rename(index={'Total':'2020_01'}, inplace=True)
#total행 이름 변경

In [16]:
Total_trading1

           index                                                산지명        거래량
2020_01  11476.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...  8876265.0

In [17]:
Total_trading2 = asc_df_MTV2.iloc[[-1], :]

NameError: name 'asc_df_MTV2' is not defined

In [ ]:
Total_trading2.rename(index={'Total':'2021_01'}, inplace=True)

In [ ]:
Total_trading2

In [ ]:
Total_trading3 = asc_df_MTV3.iloc[[-1], :]

In [ ]:
Total_trading3.rename(index={'Total':'2020_02'}, inplace=True)

In [ ]:
Total_trading3

In [ ]:
Total_trading4 = asc_df_MTV4.iloc[[-1], :]

In [ ]:
Total_trading4.rename(index={'Total':'2021_02'}, inplace=True)

In [ ]:
Total_trading4

In [ ]:
Total_trading5 = asc_df_MTV5.iloc[[-1], :]

In [ ]:
Total_trading5.rename(index={'Total':'2020_03'}, inplace=True)

In [ ]:
Total_trading5

In [ ]:
Total_trading6 = asc_df_MTV6.iloc[[-1], :]

In [ ]:
Total_trading6.rename(index={'Total':'2021_03'}, inplace=True)

In [ ]:
Total_trading6

In [ ]:
#각 연월 거래량 합계 merge
result = pd.concat([Total_trading1,Total_trading2,Total_trading3,Total_trading4,Total_trading5,Total_trading6])

In [ ]:
result

In [ ]:
#시각화하기 위한 index 설정
result2 = result.reset_index()

In [ ]:
result2 #시각화 최종 데이터

### 꺾은 선 막대그래프 시각화로 변경하기 위한 데이터 프레임 수정 ###

In [ ]:
result2.drop(['index','산지명'], axis=1, inplace=True)#필요없는 칼럼 삭제

In [ ]:
result2["2021"] = 6 # 컬럼 추가

In [ ]:
result2

In [ ]:
result2.rename(index={'거래량':'2020'}, inplace=True) #컬럼명 변경

In [ ]:
# 1. Index 기반 접근방법 
result2.at[0,'level_0'] = '1월'
# 0행, 'level_0'컬럼 값을 1월로 변경

In [ ]:
result2.at[2,'2021'] = '23763436'

In [ ]:
result2.at[4,'2021'] = '6405142'

In [ ]:
result2

In [ ]:
result3 = result2.drop([1,3,5], axis=0)#필요없는 행 삭제

In [ ]:
result3

In [ ]:
result3.at[2,'level_0'] = '2월'
result3.at[4,'level_0'] = '3월'

In [ ]:
result3.columns=['month','2020','2021'] #컬럼명 변경

In [ ]:
result4 = result3.reset_index()
result4.drop(['index'], axis=1, inplace=True)#필요없는 칼럼 삭제

In [ ]:
result4.dtypes#타입확인

In [ ]:
result4 = result4.astype({'2020':'int'})#2020컬럼 정수 처리

In [ ]:
result4#최종 데이터

### 연도별 1~3월 산지별 거래량 합계 전처리 ###

In [ ]:
#인덱스, 산지명 제외
result.drop(['index','산지명'], axis=1, inplace=True)

In [ ]:
sum_trading_volume2 = Jan21.groupby(Jan21['산지명'])['거래량'].sum().reset_index()
#2020 1월 산지 별 거래량 합계
sum_trading_volume2

In [ ]:
asc_df_MTV2 = sum_trading_volume2.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV2

In [ ]:
asc_df_MTV2.sum()

In [ ]:
asc_df_MTV2.loc["Total", :] = asc_df_MTV2.sum()

In [ ]:
asc_df_MTV2

In [ ]:
sum_trading_volume3 = Feb20.groupby(Feb20['산지명'])['거래량'].sum().reset_index()
sum_trading_volume3

In [ ]:
asc_df_MTV3 = sum_trading_volume3.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV3

In [ ]:
asc_df_MTV3.sum()

In [ ]:
asc_df_MTV3.loc["Total", :] = asc_df_MTV3.sum()

In [ ]:
asc_df_MTV3

In [ ]:
sum_trading_volume4 = Feb21.groupby(Feb21['산지명'])['거래량'].sum().reset_index()
sum_trading_volume4

In [ ]:
asc_df_MTV4.sum()

In [ ]:
asc_df_MTV4 = sum_trading_volume4.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV4

In [ ]:
asc_df_MTV4.loc["Total", :] = asc_df_MTV4.sum()

In [ ]:
asc_df_MTV4

In [ ]:
sum_trading_volume5 = Mar20.groupby(Mar20['산지명'])['거래량'].sum().reset_index()
sum_trading_volume5

In [ ]:
asc_df_MTV5 = sum_trading_volume5.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV5

In [ ]:
asc_df_MTV5.sum()

In [ ]:
asc_df_MTV5.loc["Total", :] = asc_df_MTV5.sum()

In [ ]:
asc_df_MTV5

In [ ]:
sum_trading_volume6 = Mar21.groupby(Mar21['산지명'])['거래량'].sum().reset_index()
sum_trading_volume6

In [ ]:
asc_df_MTV6 = sum_trading_volume6.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV6

In [ ]:
asc_df_MTV6.sum()

In [ ]:
asc_df_MTV6.loc["Total", :] = asc_df_MTV6.sum()

In [ ]:
asc_df_MTV6

### 데이터 시각화 ###

In [ ]:
import plotly
import plotly.offline as pyo
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [ ]:
#꺾은선,누적막대(stacked)
trace1 = go.Bar(x=result4['month'], y=result4['2020'], name='2020')
trace2 = go.Bar(x=result4['month'], y=result4['2021'], name='2021')
trace3 = go.Scatter(x = result4['month'], y = result4['2020'], mode = 'lines', name = '2020lines')
trace4 = go.Scatter(x = result4['month'], y = result4['2021'], mode = 'lines', name = '2021lines')

data = [trace1, trace2, trace3, trace4]

layout = go.Layout(title='2020-2021 1~3월 대파 총 거래량', barmode='stack')

fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)