In [3]:
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings(action='ignore')
#경고 메시지 숨기기

In [4]:
### 2020/2021 1~3월 데이터 불러오기 ###

In [5]:
#Csv파일 불러오기
Jan20 = pd.read_csv(r'C:\study\python\notebook\202001.csv', encoding='utf-8-sig')
print(Jan20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자  거래량  \
0               0       2    정가수의  24000101  585000  전라북도 고창군  20200102  500
1             261       1      경매  38010102  641465       NaN  20200102  100
2             260       1      경매  38010101  627834       NaN  20200102  100
3             259       1      경매  38010101  627834       NaN  20200102  100
4             258       1      경매  38010101  627834       NaN  20200102  100
...           ...     ...     ...       ...     ...       ...       ...  ...
43015       30768       1      경매  21000902  600010       NaN  20200131  140
43016       30767       1      경매  21000902  539800       NaN  20200131  226
43017       30777       2    정가수의  21000902  600010       NaN  20200131  100
43018       30735       1      경매  21000901  902000     부산광역시  20200131  150
43019       30324       1      경매  11000105  539000  전라남도 진도군  20200131  216

       도매시장법인명  거래가격  ...  stdMgNewNm       산지명 등급코드 등급명     품종명 거래규격단위코드  \
0      광주원협(공)  6000  ...          기타  전라북도 고창군   11   특  대파(일반)       12
1      농협창원(공)  1750  ...          기타  경상남도 창원시   11   특  대파(일반)       12
2         창원청과  1900  ...          기타  경상남도 밀양시   11   특  대파(일반)       12
3         창원청과  1900  ...          기타  경상남도 밀양시   11   특  대파(일반)       12
4         창원청과  1850  ...          기타  경상남도 밀양시   11   특  대파(일반)       12
...        ...   ...  ...         ...       ...  ...  ..     ...      ...
43015   부산중앙청과   850  ...          기타  부산광역시 중구   12   상  대파(일반)       12
43016   부산중앙청과   700  ...          기타  전라남도 진도군   12   상  대파(일반)       12
43017   부산중앙청과   700  ...          기타  부산광역시 중구   12   상  대파(일반)       12
43018     동부청과   850  ...          기타     부산광역시   12   상  대파(일반)       12
43019     한국청과  5300  ...          기타  전라남도 진도군   11   특  대파(일반)       12

      거래단위명  도매시장코드     도매시장명                 경매시간
0        kg  240001  광주각화도매시장                  NaN
1        kg  380101  창원팔용도매시장                  NaN
2        kg  380101  창원팔용도매시장  2020-01-02 05:14:27
3        kg  380101  창원팔용도매시장  2020-01-02 05:14:21
4        kg  380101  창원팔용도매시장  2020-01-02 05:14:17
...     ...     ...       ...                  ...
43015    kg  210009  부산반여도매시장  2020-01-31 07:17:15
43016    kg  210009  부산반여도매시장  2020-01-31 07:17:13
43017    kg  210009  부산반여도매시장  2020-01-31 09:18:18
43018    kg  210009  부산반여도매시장  2020-01-31 09:03:20
43019    kg  110001  서울가락도매시장        2020-01-31 ::

[43020 rows x 25 columns]

In [6]:
Jan21 = pd.read_csv(r'C:\study\python\notebook\202101.csv', encoding='utf-8-sig')
print(Jan21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량  도매시장법인명  \
0               0       1      경매  24000101  535800  20210102  150  광주원협(공)
1           76229       2    정가수의  38020101  907000  20210102  250  울산원협(공)
2           76228       2    정가수의  38020101  907000  20210102   80  울산원협(공)
3           76227       2    정가수의  38020101  907000  20210102   50  울산원협(공)
4           76226       2    정가수의  38020101  907000  20210102   15  울산원협(공)
...           ...     ...     ...       ...     ...       ...  ...      ...
64115       99579       2    정가수의  38020101  680813  20210131   20  울산원협(공)
64116       99580       2    정가수의  38020101  680813  20210131   10  울산원협(공)
64117       99581       2    정가수의  38020101  680813  20210131  100  울산원협(공)
64118       99582       1      경매  38020102  626000  20210131   40   울산중앙청과
64119       23377       2    정가수의  38020101  680813  20210131  100  울산원협(공)

        거래가격  출하구분코드  ...       산지명 등급코드  등급명     품종명 거래규격단위코드 거래단위명  도매시장코드  \
0       4300     3.0  ...  전라남도 신안군   11    특  대파(일반)       12    kg  240001
1       2300     3.0  ...     울산광역시   12    상     깐대파       12    kg  380201
2       2300     3.0  ...     울산광역시   12    상     깐대파       12    kg  380201
3       2300     3.0  ...     울산광역시   12    상     깐대파       12    kg  380201
4      13000     3.0  ...     울산광역시   12    상     깐대파       12    kg  380201
...      ...     ...  ...       ...  ...  ...     ...      ...   ...     ...
64115  36000     4.0  ...  울산광역시 남구   12    상  대파(수입)       12    kg  380201
64116  36000     4.0  ...  울산광역시 남구   12    상  대파(수입)       12    kg  380201
64117  36000     4.0  ...  울산광역시 남구   12    상  대파(수입)       12    kg  380201
64118  22000     3.0  ...  경상남도 양산시   1Z  무등급  대파(일반)       12    kg  380201
64119  36000     4.0  ...  울산광역시 남구   12    상  대파(수입)       12    kg  380201

          도매시장명      산지명2 경매시간
0      광주각화도매시장       NaN  NaN
1        울산도매시장     울산광역시  NaN
2        울산도매시장     울산광역시  NaN
3        울산도매시장     울산광역시  NaN
4        울산도매시장     울산광역시  NaN
...         ...       ...  ...
64115    울산도매시장       NaN  NaN
64116    울산도매시장       NaN  NaN
64117    울산도매시장       NaN  NaN
64118    울산도매시장  경상남도 양산시  NaN
64119    울산도매시장       NaN  NaN

[64120 rows x 24 columns]

In [7]:
Feb20 = pd.read_csv(r'C:\study\python\notebook\202002.csv', encoding='utf-8-sig')
print(Feb20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자  거래량  \
0           32359       1      경매  25000301  536000  전라남도 해남군  20200201  100
1           32360       1      경매  25000301  536000  전라남도 해남군  20200201  150
2           32361       1      경매  25000301  536000  전라남도 해남군  20200201  150
3           32362       1      경매  25000301  536000  전라남도 해남군  20200201  150
4           32363       1      경매  25000301  536000  전라남도 해남군  20200201  160
...           ...     ...     ...       ...     ...       ...       ...  ...
40045       77340       1      경매  31120103  471080       NaN  20200229   30
40046       77341       1      경매  31120103  471080       NaN  20200229   30
40047       77342       1      경매  31120103  471080       NaN  20200229   30
40048       77284       1      경매  31120101  471030       NaN  20200229  300
40049       76480       1      경매  11000104  535000  전라남도 신안군  20200229  180

       도매시장법인명  거래가격  ...  stdMgNewNm       산지명 등급코드  등급명     품종명 거래규격단위코드  \
0       대전중앙청과  2500  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
1       대전중앙청과   550  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
2       대전중앙청과   500  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
3       대전중앙청과   500  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
4       대전중앙청과   500  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
...        ...   ...  ...         ...       ...  ...  ...     ...      ...
40045     구리청과  7500  ...          기타   경기도 구리시   11    특  대파(일반)       12
40046     구리청과  7500  ...          기타   경기도 구리시   11    특  대파(일반)       12
40047     구리청과  7500  ...          기타   경기도 구리시   11    특  대파(일반)       12
40048  농협구리(공)   870  ...          10   경기도 구리시   11    특  대파(일반)       12
40049     동화청과  7200  ...          기타  전라남도 신안군   11    특  대파(일반)       12

      거래단위명  도매시장코드     도매시장명           경매시간
0        kg  250003  대전노은도매시장            NaN
1        kg  250003  대전노은도매시장            NaN
2        kg  250003  대전노은도매시장            NaN
3        kg  250003  대전노은도매시장            NaN
4        kg  250003  대전노은도매시장            NaN
...     ...     ...       ...            ...
40045    kg  311201    구리도매시장            NaN
40046    kg  311201    구리도매시장            NaN
40047    kg  311201    구리도매시장            NaN
40048    kg  311201    구리도매시장            NaN
40049    kg  110001  서울가락도매시장  2020-02-29 ::

[40050 rows x 25 columns]

In [8]:
Feb21 = pd.read_csv(r'C:\study\python\notebook\202102.csv', encoding='utf-8-sig')
print(Feb21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량  도매시장법인명  \
0           24844       1      경매  38010101  641111  20210201  100     창원청과
1           24843       1      경매  37150102  730010  20210201   10   구미중앙청과
2           24842       1      경매  37150102  730010  20210201   15   구미중앙청과
3           24841       1      경매  37150102  730010  20210201   15   구미중앙청과
4           24840       1      경매  37150102  730010  20210201    4   구미중앙청과
...           ...     ...     ...       ...     ...       ...  ...      ...
55789       52918       2    정가수의  11000802  535000  20210227  200     서부청과
55790       52921       1      경매  11000803  215000  20210227  550     강서청과
55791       52916       1      경매  11000802  535000  20210227  500     서부청과
55792       52917       1      경매  11000802  535000  20210227  500     서부청과
55793       54678       1      경매  25000302  305325  20210301  100  대전원협(공)

        거래가격  출하구분코드  ...        산지명 등급코드  등급명     품종명 거래규격단위코드 거래단위명  도매시장코드  \
0       5100     3.0  ...   경상남도 창원시   11    특  대파(일반)       12    kg  380101
1      12000     3.0  ...   경상북도 구미시   12    상  대파(일반)       12    kg  371501
2      15500     3.0  ...   경상북도 구미시   11    특  대파(일반)       12    kg  371501
3      15500     3.0  ...   경상북도 구미시   11    특  대파(일반)       12    kg  371501
4      20300     4.0  ...   경상북도 구미시   13   보통  대파(일반)       12    kg  371501
...      ...     ...  ...        ...  ...  ...     ...      ...   ...     ...
55789   5200     NaN  ...   전라남도 신안군   11    특  대파(일반)       12    kg  110008
55790   5100     NaN  ...    강원도 양양군   1Z  무등급  대파(일반)       12    kg  110008
55791   5200     NaN  ...   전라남도 신안군   11    특  대파(일반)       12    kg  110008
55792   5200     NaN  ...   전라남도 신안군   11    특  대파(일반)       12    kg  110008
55793  27300     3.0  ...  대전광역시 유성구   11    특  대파(일반)       12    kg  250003

          도매시장명      산지명2             경매시간
0      창원팔용도매시장       NaN  2021-02-01 5:22
1        구미도매시장       NaN  2021-02-01 8:47
2        구미도매시장       NaN  2021-02-01 8:47
3        구미도매시장       NaN  2021-02-01 8:46
4        구미도매시장       NaN  2021-02-01 8:38
...         ...       ...              ...
55789  서울강서도매시장  전라남도 신안군    2021-02-27 ::
55790  서울강서도매시장   강원도 양양군    2021-02-27 ::
55791  서울강서도매시장  전라남도 신안군    2021-02-27 ::
55792  서울강서도매시장  전라남도 신안군    2021-02-27 ::
55793  대전노은도매시장       NaN              NaN

[55794 rows x 24 columns]

In [9]:
Mar20 = pd.read_csv(r'C:\study\python\notebook\202003.csv', encoding='utf-8-sig')
print(Mar20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자  거래량  \
0           77728       2    정가수의  11000101  539000  전라남도 진도군  20200302   75
1           78956       2    정가수의  31090105  413810       NaN  20200302  500
2           78955       2    정가수의  31090105  413810       NaN  20200302  500
3           78954       2    정가수의  31090105  413810       NaN  20200302  500
4           78953       2    정가수의  31090105  413810       NaN  20200302  500
...           ...     ...     ...       ...     ...       ...       ...  ...
18378       97772       1      경매  38040101  676000  경상남도 함양군  20200314  110
18379       97773       1      경매  38040101  664600       NaN  20200314  100
18380       97774       1      경매  38040101  664600       NaN  20200314  100
18381       97766       1      경매  38040101  676000  경상남도 함양군  20200314  100
18382       96832       1      경매  22000103  539000  전라남도 진도군  20200314  250

       도매시장법인명  거래가격  ...  stdMgNewNm       산지명 등급코드 등급명     품종명 거래규격단위코드  \
0         서울청과  6000  ...          기타  전라남도 진도군   11   특  대파(일반)       12
1        안산농산물  1000  ...          기타   경기도 파주시   11   특  대파(일반)       12
2        안산농산물   850  ...          기타   경기도 파주시   11   특  대파(일반)       12
3        안산농산물   850  ...          기타   경기도 파주시   11   특  대파(일반)       12
4        안산농산물  1000  ...          기타   경기도 파주시   11   특  대파(일반)       12
...        ...   ...  ...         ...       ...  ...  ..     ...      ...
18378  진주원협(공)  1400  ...          기타  경상남도 함양군   11   특  대파(일반)       12
18379  진주원협(공)  1800  ...          기타  경상남도 사천시   11   특  대파(일반)       12
18380  진주원협(공)  1800  ...          기타  경상남도 사천시   11   특  대파(일반)       12
18381  진주원협(공)  1400  ...          기타  경상남도 함양군   11   특  대파(일반)       12
18382     효성청과   800  ...          기타  전라남도 진도군   11   특  대파(일반)       12

      거래단위명  도매시장코드     도매시장명           경매시간
0        kg  110001  서울가락도매시장  2020-03-02 ::
1        kg  310901    안산도매시장            NaN
2        kg  310901    안산도매시장            NaN
3        kg  310901    안산도매시장            NaN
4        kg  310901    안산도매시장            NaN
...     ...     ...       ...            ...
18378    kg  380401    진주도매시장            NaN
18379    kg  380401    진주도매시장            NaN
18380    kg  380401    진주도매시장            NaN
18381    kg  380401    진주도매시장            NaN
18382    kg  220001  대구북부도매시장            NaN

[18383 rows x 25 columns]

In [10]:
Mar21 = pd.read_csv(r'C:\study\python\notebook\202103.csv', encoding='utf-8-sig')
print(Mar21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량  도매시장법인명  \
0           54663       1      경매  25000301  535000  20210301  270   대전중앙청과
1           54662       2    정가수의  25000301  535000  20210301  123   대전중앙청과
2           54661       1      경매  25000301  535000  20210301   85   대전중앙청과
3           54658       1      경매  25000301  535000  20210301  120   대전중앙청과
4           54659       1      경매  25000301  535000  20210301  122   대전중앙청과
...           ...     ...     ...       ...     ...       ...  ...      ...
32488      147984       1      경매  21000101  232948  20210315  200  농협부산(공)
32489      147983       1      경매  21000101  232948  20210315  200  농협부산(공)
32490      147982       1      경매  21000101  902000  20210315  300  농협부산(공)
32491      147992       1      경매  21000103  902000  20210315  300     항도청과
32492      148110       1      경매  21000903  612810  20210315  300  농협반여(공)

        거래가격  출하구분코드  ...         산지명 등급코드  등급명     품종명 거래규격단위코드 거래단위명  \
0      11600     1.0  ...    전라남도 신안군   1Z  무등급  대파(일반)       12    kg
1      11600     1.0  ...    전라남도 신안군   1Z  무등급  대파(일반)       12    kg
2      21600     1.0  ...    전라남도 신안군   1Z  무등급  대파(일반)       12    kg
3      23000     1.0  ...    전라남도 신안군   1Z  무등급  대파(일반)       12    kg
4      23200     1.0  ...    전라남도 신안군   1Z  무등급  대파(일반)       12    kg
...      ...     ...  ...         ...  ...  ...     ...      ...   ...
32488   3080     3.0  ...     강원도 평창군   12    상  대파(일반)       12    kg
32489   3050     3.0  ...     강원도 평창군   12    상  대파(일반)       12    kg
32490   3510     2.0  ...       부산광역시   12    상  대파(일반)       12    kg
32491   4000     3.0  ...       부산광역시   11    특  대파(일반)       12    kg
32492   3900     2.0  ...  부산광역시 해운대구   11    특  대파(일반)       12    kg

       도매시장코드     도매시장명      산지명2 경매시간
0      250003  대전노은도매시장  전라남도 신안군  NaN
1      250003  대전노은도매시장  전라남도 신안군  NaN
2      250003  대전노은도매시장  전라남도 신안군  NaN
3      250003  대전노은도매시장  전라남도 신안군  NaN
4      250003  대전노은도매시장  전라남도 신안군  NaN
...       ...       ...       ...  ...
32488  210001  부산엄궁도매시장       NaN  NaN
32489  210001  부산엄궁도매시장       NaN  NaN
32490  210001  부산엄궁도매시장     부산광역시  NaN
32491  210001  부산엄궁도매시장     부산광역시  NaN
32492  210009  부산반여도매시장       NaN  NaN

[32493 rows x 24 columns]

### 품종별 년월 거래량 합계 ###

In [89]:
Jan20sp = Jan20['거래량'].groupby([Jan20['품종명']]).sum()
Jan20sp

품종명
기타          11304
깐대파         87078
대파(수입)      10463
대파(일반)    8988171
중파          17599
Name: 거래량, dtype: int64

In [91]:
Jan20sp = Jan20sp.reset_index()
Jan20sp

   index     품종명      거래량
0      0      기타    11304
1      1     깐대파    87078
2      2  대파(수입)    10463
3      3  대파(일반)  8988171
4      4      중파    17599

In [92]:
Jan20sp.columns = ['index','품종명','202001']#컬럼명변경
Jan20sp

   index     품종명   202001
0      0      기타    11304
1      1     깐대파    87078
2      2  대파(수입)    10463
3      3  대파(일반)  8988171
4      4      중파    17599

In [93]:
Jan20sp.drop(['index'], axis=1, inplace=True)#필요없는 칼럼 삭제

In [94]:
Jan21sp = Jan21['거래량'].groupby([Jan21['품종명']]).sum()
Jan21sp

품종명
기타           19936
깐대파         168398
대파(수입)       15754
대파(일반)    14187880
중파            2620
Name: 거래량, dtype: int64

In [95]:
Jan21sp = Jan21sp.reset_index()

In [96]:
Jan21sp

      품종명       거래량
0      기타     19936
1     깐대파    168398
2  대파(수입)     15754
3  대파(일반)  14187880
4      중파      2620

In [97]:
Jan21sp.columns = ['품종명','202101']#컬럼명변경

In [98]:
Jan21sp

      품종명    202101
0      기타     19936
1     깐대파    168398
2  대파(수입)     15754
3  대파(일반)  14187880
4      중파      2620

In [99]:
Feb20sp = Feb20['거래량'].groupby([Feb20['품종명']]).sum()
Feb20sp

품종명
기타          10554
깐대파        102213
대파(수입)       5817
대파(일반)    8592145
중파           1918
Name: 거래량, dtype: int64

In [100]:
Feb20sp = Feb20sp.reset_index()

In [101]:
Feb20sp

      품종명      거래량
0      기타    10554
1     깐대파   102213
2  대파(수입)     5817
3  대파(일반)  8592145
4      중파     1918

In [115]:
Feb20sp.columns = ['품종명','202002']#컬럼명변경
Feb20sp

      품종명   202002
0      기타    10554
1     깐대파   102213
2  대파(수입)     5817
3  대파(일반)  8592145
4      중파     1918

In [102]:
Feb21sp = Feb21['거래량'].groupby([Feb21['품종명']]).sum()
Feb21sp

품종명
기타           38808
깐대파         157174
대파(수입)       37299
대파(일반)    12063420
중파            2704
Name: 거래량, dtype: int64

In [103]:
Feb21sp

품종명
기타           38808
깐대파         157174
대파(수입)       37299
대파(일반)    12063420
중파            2704
Name: 거래량, dtype: int64

In [104]:
Feb21sp = Feb21sp.reset_index()
Feb21sp

      품종명       거래량
0      기타     38808
1     깐대파    157174
2  대파(수입)     37299
3  대파(일반)  12063420
4      중파      2704

In [105]:
Feb21sp.columns = ['품종명','202102']#컬럼명변경
Feb21sp

      품종명    202102
0      기타     38808
1     깐대파    157174
2  대파(수입)     37299
3  대파(일반)  12063420
4      중파      2704

In [106]:
Mar20sp = Mar20['거래량'].groupby([Mar20['품종명']]).sum()
Mar20sp

품종명
기타           4774
깐대파         50127
대파(수입)       2848
대파(일반)    3807773
중파           7450
Name: 거래량, dtype: int64

In [107]:
Mar20sp = Mar20sp.reset_index()
Mar20sp

      품종명      거래량
0      기타     4774
1     깐대파    50127
2  대파(수입)     2848
3  대파(일반)  3807773
4      중파     7450

In [108]:
Mar20sp.columns = ['품종명','202003']#컬럼명변경
Mar20sp

      품종명   202003
0      기타     4774
1     깐대파    50127
2  대파(수입)     2848
3  대파(일반)  3807773
4      중파     7450

In [109]:
Mar21sp = Mar21['거래량'].groupby([Mar21['품종명']]).sum()
Mar21sp

품종명
기타           8574
깐대파         71594
대파(수입)      42860
대파(일반)    6476682
중파           1950
Name: 거래량, dtype: int64

In [110]:
Mar21sp = Mar21sp.reset_index()
Mar21sp

      품종명      거래량
0      기타     8574
1     깐대파    71594
2  대파(수입)    42860
3  대파(일반)  6476682
4      중파     1950

In [111]:
Mar21sp.columns = ['품종명','202103']#컬럼명변경
Mar21sp

      품종명   202103
0      기타     8574
1     깐대파    71594
2  대파(수입)    42860
3  대파(일반)  6476682
4      중파     1950

### 데이터 통합 ###

In [112]:
result = pd.merge(Jan20sp,Jan21sp, on = '품종명', how = 'left')#'품종명'열 left 위주로 merge, Jan20sp가 left데이터임
result

      품종명   202001    202101
0      기타    11304     19936
1     깐대파    87078    168398
2  대파(수입)    10463     15754
3  대파(일반)  8988171  14187880
4      중파    17599      2620

In [116]:
result2 = pd.merge(result,Feb20sp, on = '품종명', how = 'left')
result3 = pd.merge(result2,Feb21sp, on = '품종명', how = 'left')
result4 = pd.merge(result3,Mar20sp, on = '품종명', how = 'left')
result5 = pd.merge(result4,Mar21sp, on = '품종명', how = 'left')
result5

      품종명   202001    202101   202002    202102   202003   202103
0      기타    11304     19936    10554     38808     4774     8574
1     깐대파    87078    168398   102213    157174    50127    71594
2  대파(수입)    10463     15754     5817     37299     2848    42860
3  대파(일반)  8988171  14187880  8592145  12063420  3807773  6476682
4      중파    17599      2620     1918      2704     7450     1950

### 데이터 시각화 ###

### 품종 별 거래량 ###

In [74]:
!pip install plotly

import plotly.offline as pyo
import plotly.graph_objs as go

Requirement already satisfied: plotly in c:\programdata\anaconda3\envs\pydata\lib\site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in c:\programdata\anaconda3\envs\pydata\lib\site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in c:\programdata\anaconda3\envs\pydata\lib\site-packages (from plotly) (1.15.0)

In [118]:
trace1 = go.Bar(x=result5['품종명'], y=result5['202001'], name='2020년 1월')
trace2 = go.Bar(x=result5['품종명'], y=result5['202101'], name='2021년 1월')
trace3 = go.Bar(x=result5['품종명'], y=result5['202002'], name='2020년 2월')
trace4 = go.Bar(x=result5['품종명'], y=result5['202102'], name='2021년 2월')
trace5 = go.Bar(x=result5['품종명'], y=result5['202003'], name='2020년 3월')
trace6 = go.Bar(x=result5['품종명'], y=result5['202103'], name='2021년 3월')


data = [trace1,trace2, trace3, trace4,trace5,trace6]
layout = go.Layout(title='2020-2021연도 및 1~3월 별 대파 품종명 별 거래량')
fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)

### 도매시장 별 거래량 순 ###

In [ ]:
!pip install plotly

import plotly.offline as pyo
import plotly.graph_objs as go

trace = go.Bar(x=asc_df_MTV['도매시장명'], y=asc_df_MTV['거래량_합계'],)
data = [trace]
layout = go.Layout(title='전국 도매시장 별 대파 거래량 합계 비교')
fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)