In [1]:
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings(action='ignore')
#경고 메시지 숨기기

In [ ]:
# 월별로 따로 구하지 않아도 됨
# df['경락일자'] = pd.to_datetime(df['경락일자'], format='%Y%m%d')
# df = df.set_index('경락일자')
# gr = df.groupby(pd.Grouper(freq='M'))
# gr[['거래량']].sum().plot()
# gr[['거래가격']].mean().plot()

### 2020/2021 1~3월 데이터 불러오기 ###

In [2]:
#Csv파일 불러오기
Jan20 = pd.read_csv(r'C:\study\python\notebook\202001.csv', encoding='utf-8-sig')
print(Jan20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자  거래량  \
0               0       2    정가수의  24000101  585000  전라북도 고창군  20200102  500
1             261       1      경매  38010102  641465       NaN  20200102  100
2             260       1      경매  38010101  627834       NaN  20200102  100
3             259       1      경매  38010101  627834       NaN  20200102  100
4             258       1      경매  38010101  627834       NaN  20200102  100
...           ...     ...     ...       ...     ...       ...       ...  ...
43015       30768       1      경매  21000902  600010       NaN  20200131  140
43016       30767       1      경매  21000902  539800       NaN  20200131  226
43017       30777       2    정가수의  21000902  600010       NaN  20200131  100
43018       30735       1      경매  21000901  902000     부산광역시  20200131  150
43019       30324       1      경매  11000105  539000  전라남도 진도군  20200131  216

       도매시장법인명  거래가격  ...  stdMgNewNm       산지명 등급코드 등급명     품종명 거래규격단위코드  \
0      광주원협(공)  6000  ...          기타  전라북도 고창군   11   특  대파(일반)       12
1      농협창원(공)  1750  ...          기타  경상남도 창원시   11   특  대파(일반)       12
2         창원청과  1900  ...          기타  경상남도 밀양시   11   특  대파(일반)       12
3         창원청과  1900  ...          기타  경상남도 밀양시   11   특  대파(일반)       12
4         창원청과  1850  ...          기타  경상남도 밀양시   11   특  대파(일반)       12
...        ...   ...  ...         ...       ...  ...  ..     ...      ...
43015   부산중앙청과   850  ...          기타  부산광역시 중구   12   상  대파(일반)       12
43016   부산중앙청과   700  ...          기타  전라남도 진도군   12   상  대파(일반)       12
43017   부산중앙청과   700  ...          기타  부산광역시 중구   12   상  대파(일반)       12
43018     동부청과   850  ...          기타     부산광역시   12   상  대파(일반)       12
43019     한국청과  5300  ...          기타  전라남도 진도군   11   특  대파(일반)       12

      거래단위명  도매시장코드     도매시장명                 경매시간
0        kg  240001  광주각화도매시장                  NaN
1        kg  380101  창원팔용도매시장                  NaN
2        kg  380101  창원팔용도매시장  2020-01-02 05:14:27
3        kg  380101  창원팔용도매시장  2020-01-02 05:14:21
4        kg  380101  창원팔용도매시장  2020-01-02 05:14:17
...     ...     ...       ...                  ...
43015    kg  210009  부산반여도매시장  2020-01-31 07:17:15
43016    kg  210009  부산반여도매시장  2020-01-31 07:17:13
43017    kg  210009  부산반여도매시장  2020-01-31 09:18:18
43018    kg  210009  부산반여도매시장  2020-01-31 09:03:20
43019    kg  110001  서울가락도매시장        2020-01-31 ::

[43020 rows x 25 columns]

In [3]:
Jan21 = pd.read_csv(r'C:\study\python\notebook\202101.csv', encoding='utf-8-sig')
print(Jan21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량  도매시장법인명  \
0               0       1      경매  24000101  535800  20210102  150  광주원협(공)
1              30       2    정가수의  38020101  907000  20210102   10  울산원협(공)
2              31       2    정가수의  38020101  907000  20210102  350  울산원협(공)
3              32       2    정가수의  38020101  907000  20210102  200  울산원협(공)
4              33       2    정가수의  38020101  907000  20210102  100  울산원협(공)
...           ...     ...     ...       ...     ...       ...  ...      ...
32055       23295       1      경매  38010101  627834  20210130  100     창원청과
32056       23375       2    정가수의  38020101  680813  20210131   20  울산원협(공)
32057       23376       2    정가수의  38020101  680813  20210131   10  울산원협(공)
32058       23377       2    정가수의  38020101  680813  20210131  100  울산원협(공)
32059       23378       1      경매  38020102  626000  20210131   40   울산중앙청과

        거래가격  출하구분코드  ...       산지명 등급코드  등급명     품종명 거래규격단위코드 거래단위명  도매시장코드  \
0       4300     3.0  ...  전라남도 신안군   11    특  대파(일반)       12    kg  240001
1      13000     3.0  ...     울산광역시   12    상     깐대파       12    kg  380201
2       2300     3.0  ...     울산광역시   12    상     깐대파       12    kg  380201
3       2300     3.0  ...     울산광역시   12    상     깐대파       12    kg  380201
4       2300     3.0  ...     울산광역시   12    상     깐대파       12    kg  380201
...      ...     ...  ...       ...  ...  ...     ...      ...   ...     ...
32055   4100     3.0  ...  경상남도 밀양시   11    특  대파(일반)       12    kg  380101
32056  36000     4.0  ...  울산광역시 남구   12    상  대파(수입)       12    kg  380201
32057  36000     4.0  ...  울산광역시 남구   12    상  대파(수입)       12    kg  380201
32058  36000     4.0  ...  울산광역시 남구   12    상  대파(수입)       12    kg  380201
32059  22000     3.0  ...  경상남도 양산시   1Z  무등급  대파(일반)       12    kg  380201

          도매시장명      산지명2                 경매시간
0      광주각화도매시장       NaN                  NaN
1        울산도매시장     울산광역시                  NaN
2        울산도매시장     울산광역시                  NaN
3        울산도매시장     울산광역시                  NaN
4        울산도매시장     울산광역시                  NaN
...         ...       ...                  ...
32055  창원팔용도매시장       NaN  2021-01-30 05:12:51
32056    울산도매시장       NaN                  NaN
32057    울산도매시장       NaN                  NaN
32058    울산도매시장       NaN                  NaN
32059    울산도매시장  경상남도 양산시                  NaN

[32060 rows x 24 columns]

In [4]:
Feb20 = pd.read_csv(r'C:\study\python\notebook\202002.csv', encoding='utf-8-sig')
print(Feb20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자  거래량  \
0           32359       1      경매  25000301  536000  전라남도 해남군  20200201  100
1           32360       1      경매  25000301  536000  전라남도 해남군  20200201  150
2           32361       1      경매  25000301  536000  전라남도 해남군  20200201  150
3           32362       1      경매  25000301  536000  전라남도 해남군  20200201  150
4           32363       1      경매  25000301  536000  전라남도 해남군  20200201  160
...           ...     ...     ...       ...     ...       ...       ...  ...
40045       77340       1      경매  31120103  471080       NaN  20200229   30
40046       77341       1      경매  31120103  471080       NaN  20200229   30
40047       77342       1      경매  31120103  471080       NaN  20200229   30
40048       77284       1      경매  31120101  471030       NaN  20200229  300
40049       76480       1      경매  11000104  535000  전라남도 신안군  20200229  180

       도매시장법인명  거래가격  ...  stdMgNewNm       산지명 등급코드  등급명     품종명 거래규격단위코드  \
0       대전중앙청과  2500  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
1       대전중앙청과   550  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
2       대전중앙청과   500  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
3       대전중앙청과   500  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
4       대전중앙청과   500  ...          기타  전라남도 해남군   1Z  무등급  대파(일반)       12
...        ...   ...  ...         ...       ...  ...  ...     ...      ...
40045     구리청과  7500  ...          기타   경기도 구리시   11    특  대파(일반)       12
40046     구리청과  7500  ...          기타   경기도 구리시   11    특  대파(일반)       12
40047     구리청과  7500  ...          기타   경기도 구리시   11    특  대파(일반)       12
40048  농협구리(공)   870  ...          10   경기도 구리시   11    특  대파(일반)       12
40049     동화청과  7200  ...          기타  전라남도 신안군   11    특  대파(일반)       12

      거래단위명  도매시장코드     도매시장명           경매시간
0        kg  250003  대전노은도매시장            NaN
1        kg  250003  대전노은도매시장            NaN
2        kg  250003  대전노은도매시장            NaN
3        kg  250003  대전노은도매시장            NaN
4        kg  250003  대전노은도매시장            NaN
...     ...     ...       ...            ...
40045    kg  311201    구리도매시장            NaN
40046    kg  311201    구리도매시장            NaN
40047    kg  311201    구리도매시장            NaN
40048    kg  311201    구리도매시장            NaN
40049    kg  110001  서울가락도매시장  2020-02-29 ::

[40050 rows x 25 columns]

In [5]:
Feb21 = pd.read_csv(r'C:\study\python\notebook\202102.csv', encoding='utf-8-sig')
print(Feb21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량  도매시장법인명  \
0           24446       1      경매  31090101  901000  20210201  270  농협안산(공)
1           24451       1      경매  31090101  269000  20210201  330  농협안산(공)
2           24448       1      경매  31090101  901000  20210201  270  농협안산(공)
3           24444       1      경매  31090101  336600  20210201  300  농협안산(공)
4           24450       1      경매  31090101  269000  20210201  330  농협안산(공)
...           ...     ...     ...       ...     ...       ...  ...      ...
27891       53535       2    정가수의  31040101  539000  20210227   40  안양원협(공)
27892       53536       2    정가수의  31040101  539000  20210227   30  안양원협(공)
27893       53537       2    정가수의  31040101  539000  20210227   30  안양원협(공)
27894       53538       2    정가수의  31040101  539000  20210227  180  안양원협(공)
27895       53532       2    정가수의  31040101  539000  20210227   60  안양원협(공)

       거래가격  출하구분코드  ...       산지명 등급코드  등급명     품종명 거래규격단위코드 거래단위명  도매시장코드  \
0      4400     2.0  ...     서울특별시   11    특  대파(일반)       12    kg  310901
1      3700     2.0  ...   강원도 철원군   11    특  대파(일반)       12    kg  310901
2      4300     2.0  ...     서울특별시   11    특  대파(일반)       12    kg  310901
3      4910     3.0  ...  충청남도 아산시   11    특  대파(일반)       12    kg  310901
4      3700     2.0  ...   강원도 철원군   11    특  대파(일반)       12    kg  310901
...     ...     ...  ...       ...  ...  ...     ...      ...   ...     ...
27891  4900     3.0  ...  전라남도 진도군   1Z  무등급  대파(일반)       12    kg  310401
27892  4900     3.0  ...  전라남도 진도군   1Z  무등급  대파(일반)       12    kg  310401
27893  4900     3.0  ...  전라남도 진도군   1Z  무등급  대파(일반)       12    kg  310401
27894  4900     3.0  ...  전라남도 진도군   1Z  무등급  대파(일반)       12    kg  310401
27895  4900     3.0  ...  전라남도 진도군   1Z  무등급  대파(일반)       12    kg  310401

        도매시장명      산지명2 경매시간
0      안산도매시장     서울특별시  NaN
1      안산도매시장   강원도 철원군  NaN
2      안산도매시장     서울특별시  NaN
3      안산도매시장       NaN  NaN
4      안산도매시장   강원도 철원군  NaN
...       ...       ...  ...
27891  안양도매시장  전라남도 진도군  NaN
27892  안양도매시장  전라남도 진도군  NaN
27893  안양도매시장  전라남도 진도군  NaN
27894  안양도매시장  전라남도 진도군  NaN
27895  안양도매시장  전라남도 진도군  NaN

[27896 rows x 24 columns]

In [6]:
Mar20 = pd.read_csv(r'C:\study\python\notebook\202003.csv', encoding='utf-8-sig')
print(Mar20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자  거래량  \
0           77728       2    정가수의  11000101  539000  전라남도 진도군  20200302   75
1           78956       2    정가수의  31090105  413810       NaN  20200302  500
2           78955       2    정가수의  31090105  413810       NaN  20200302  500
3           78954       2    정가수의  31090105  413810       NaN  20200302  500
4           78953       2    정가수의  31090105  413810       NaN  20200302  500
...           ...     ...     ...       ...     ...       ...       ...  ...
18378       97772       1      경매  38040101  676000  경상남도 함양군  20200314  110
18379       97773       1      경매  38040101  664600       NaN  20200314  100
18380       97774       1      경매  38040101  664600       NaN  20200314  100
18381       97766       1      경매  38040101  676000  경상남도 함양군  20200314  100
18382       96832       1      경매  22000103  539000  전라남도 진도군  20200314  250

       도매시장법인명  거래가격  ...  stdMgNewNm       산지명 등급코드 등급명     품종명 거래규격단위코드  \
0         서울청과  6000  ...          기타  전라남도 진도군   11   특  대파(일반)       12
1        안산농산물  1000  ...          기타   경기도 파주시   11   특  대파(일반)       12
2        안산농산물   850  ...          기타   경기도 파주시   11   특  대파(일반)       12
3        안산농산물   850  ...          기타   경기도 파주시   11   특  대파(일반)       12
4        안산농산물  1000  ...          기타   경기도 파주시   11   특  대파(일반)       12
...        ...   ...  ...         ...       ...  ...  ..     ...      ...
18378  진주원협(공)  1400  ...          기타  경상남도 함양군   11   특  대파(일반)       12
18379  진주원협(공)  1800  ...          기타  경상남도 사천시   11   특  대파(일반)       12
18380  진주원협(공)  1800  ...          기타  경상남도 사천시   11   특  대파(일반)       12
18381  진주원협(공)  1400  ...          기타  경상남도 함양군   11   특  대파(일반)       12
18382     효성청과   800  ...          기타  전라남도 진도군   11   특  대파(일반)       12

      거래단위명  도매시장코드     도매시장명           경매시간
0        kg  110001  서울가락도매시장  2020-03-02 ::
1        kg  310901    안산도매시장            NaN
2        kg  310901    안산도매시장            NaN
3        kg  310901    안산도매시장            NaN
4        kg  310901    안산도매시장            NaN
...     ...     ...       ...            ...
18378    kg  380401    진주도매시장            NaN
18379    kg  380401    진주도매시장            NaN
18380    kg  380401    진주도매시장            NaN
18381    kg  380401    진주도매시장            NaN
18382    kg  220001  대구북부도매시장            NaN

[18383 rows x 25 columns]

In [7]:
Mar21 = pd.read_csv(r'C:\study\python\notebook\202103.csv', encoding='utf-8-sig')
print(Mar21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량   도매시장법인명  \
0           54217       2    정가수의  21000102  635000  20210301  150      부산청과
1           54004       1      경매  11000106  535000  20210301  240      대아청과
2           55053       1      경매  36030101  535870  20210301  100      남도청과
3           55052       1      경매  36030101  535870  20210301   50      남도청과
4           55051       1      경매  36030101  535870  20210301  150      남도청과
...           ...     ...     ...       ...     ...       ...  ...       ...
16241       72005       1      경매  22000105  695901  20210315   20  농협북대구(공)
16242       72004       1      경매  22000105  690600  20210315   20  농협북대구(공)
16243       72003       1      경매  22000104  539000  20210315  150      대양청과
16244       72001       1      경매  22000104  539000  20210315   14      대양청과
16245       72691       1      경매  33020101  535830  20210315  400  충북원협(충주)

        거래가격  출하구분코드  ...          산지명 등급코드 등급명     품종명 거래규격단위코드 거래단위명  \
0       5200     3.0  ...     경상남도 창녕군   13  보통  대파(일반)       12    kg
1      64500     NaN  ...     전라남도 신안군   11   특  대파(일반)       12    kg
2      10000     3.0  ...     전라남도 신안군   11   특  대파(일반)       12    kg
3      10000     3.0  ...     전라남도 신안군   11   특  대파(일반)       12    kg
4      10000     3.0  ...     전라남도 신안군   11   특  대파(일반)       12    kg
...      ...     ...  ...          ...  ...  ..     ...      ...   ...
16241  38000     3.0  ...  제주특별자치도 제주시   11   특  대파(일반)       12    kg
16242  53000     2.0  ...  제주특별자치도 제주시   11   특  대파(일반)       12    kg
16243   3700     3.0  ...     전라남도 진도군   11   특  대파(일반)       12    kg
16244   3500     3.0  ...     전라남도 진도군   11   특  대파(일반)       12    kg
16245   3600     3.0  ...     전라남도 신안군   11   특  대파(일반)       12    kg

       도매시장코드     도매시장명      산지명2                 경매시간
0      210001  부산엄궁도매시장  경상남도 창녕군                  NaN
1      110001  서울가락도매시장  전라남도 신안군        2021-03-01 ::
2      360301    순천도매시장       NaN  2021-02-27 14:17:31
3      360301    순천도매시장       NaN  2021-02-27 14:17:31
4      360301    순천도매시장       NaN  2021-02-27 14:17:28
...       ...       ...       ...                  ...
16241  220001  대구북부도매시장       NaN                  NaN
16242  220001  대구북부도매시장       NaN                  NaN
16243  220001  대구북부도매시장  전라남도 진도군                  NaN
16244  220001  대구북부도매시장  전라남도 진도군                  NaN
16245  330201    충주도매시장       NaN                  NaN

[16246 rows x 24 columns]

### 2020/2021 1~3월 데이터 산지별 거래량 합계 전처리 ###

In [8]:
sum_trading_volume = Jan20.groupby(Jan20['산지명'])['거래량'].sum().reset_index()
#20산지 별 거래량 합계
sum_trading_volume

          산지명     거래량
0         강원도    3915
1     강원도 강릉시   46925
2     강원도 동해시   10946
3     강원도 원주시    6382
4     강원도 인제군   70467
..        ...     ...
147  충청북도 음성군      78
148  충청북도 제천시   10625
149  충청북도 진천군     591
150  충청북도 청주시  292296
151  충청북도 충주시   54295

[152 rows x 2 columns]

In [9]:
asc_df_MTV = sum_trading_volume.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV

     index       산지명      거래량
0      109  전라남도 진도군  2049449
1      102  전라남도 신안군  1607819
2       11   경기도 구리시   364288
3       70     부산광역시   317795
4      150  충청북도 청주시   292296
..     ...       ...      ...
147    121  전라북도 임실군       70
148    108  전라남도 장흥군       43
149     29  경상남도 거창군       40
150     31  경상남도 남해군       40
151    134  충청남도 보령시       36

[152 rows x 3 columns]

In [10]:
asc_df_MTV.sum()

index                                                11476
산지명      전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...
거래량                                                8876265
dtype: object

In [11]:
asc_df_MTV.loc["Total", :] = asc_df_MTV.sum()
#거래량 합계 total 행 추가

In [12]:
asc_df_MTV

         index                                                산지명        거래량
0        109.0                                           전라남도 진도군  2049449.0
1        102.0                                           전라남도 신안군  1607819.0
2         11.0                                            경기도 구리시   364288.0
3         70.0                                              부산광역시   317795.0
4        150.0                                           충청북도 청주시   292296.0
...        ...                                                ...        ...
148      108.0                                           전라남도 장흥군       43.0
149       29.0                                           경상남도 거창군       40.0
150       31.0                                           경상남도 남해군       40.0
151      134.0                                           충청남도 보령시       36.0
Total  11476.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...  8876265.0

[153 rows x 3 columns]

In [13]:
Total_trading1 = asc_df_MTV.iloc[[-1], :]
#total행 선택

In [14]:
Total_trading1.rename(index={'Total':'2020_01'}, inplace=True)
#total행 이름 변경

In [15]:
Total_trading1

           index                                                산지명        거래량
2020_01  11476.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...  8876265.0

In [43]:
Total_trading2 = asc_df_MTV2.iloc[[-1], :]

In [44]:
Total_trading2.rename(index={'Total':'2021_01'}, inplace=True)

In [45]:
Total_trading2

          index                                                산지명        거래량
2021_01  8646.0  전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...  6989360.0

In [46]:
Total_trading3 = asc_df_MTV3.iloc[[-1], :]

In [47]:
Total_trading3.rename(index={'Total':'2020_02'}, inplace=True)

In [48]:
Total_trading3

           index                                                산지명        거래량
2020_02  10011.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...  8566983.0

In [49]:
Total_trading4 = asc_df_MTV4.iloc[[-1], :]

In [50]:
Total_trading4.rename(index={'Total':'2021_02'}, inplace=True)

In [51]:
Total_trading4

          index                                                산지명        거래량
2021_02  7260.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...  5940539.0

In [52]:

Total_trading5 = asc_df_MTV5.iloc[[-1], :]

In [53]:
Total_trading5.rename(index={'Total':'2020_03'}, inplace=True)

In [54]:
Total_trading5

          index                                                산지명        거래량
2020_03  7626.0  전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...  3799885.0

In [55]:
Total_trading6 = asc_df_MTV6.iloc[[-1], :]

In [56]:
Total_trading6.rename(index={'Total':'2021_03'}, inplace=True)

In [57]:
Total_trading6

          index                                                산지명        거래량
2021_03  6670.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...  3202171.0

In [58]:
#각 연월 거래량 합계 merge
result = pd.concat([Total_trading1,Total_trading2,Total_trading3,Total_trading4,Total_trading5,Total_trading6])

In [59]:
result

           index                                                산지명        거래량
2020_01  11476.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...  8876265.0
2021_01   8646.0  전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...  6989360.0
2020_02  10011.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...  8566983.0
2021_02   7260.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...  5940539.0
2020_03   7626.0  전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...  3799885.0
2021_03   6670.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...  3202171.0

In [60]:
#시각화하기 위한 index 설정
result2 = result.reset_index()

In [61]:
result2 #시각화 최종 데이터

,level_0,index,산지명,거래량
0,2020_01,11476.0,전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...,8876265.0
1,2021_01,8646.0,전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...,6989360.0
2,2020_02,10011.0,전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...,8566983.0
3,2021_02,7260.0,전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...,5940539.0
4,2020_03,7626.0,전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...,3799885.0
5,2021_03,6670.0,전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...,3202171.0

### 꺾은 선 막대그래프 시각화로 변경하기 위한 데이터 프레임 수정 ###

In [62]:
result2.drop(['index','산지명'], axis=1, inplace=True)#필요없는 칼럼 삭제

In [63]:
result2["2021"] = 6 # 컬럼 추가

In [64]:
result2

   level_0        거래량  2021
0  2020_01  8876265.0     6
1  2021_01  6989360.0     6
2  2020_02  8566983.0     6
3  2021_02  5940539.0     6
4  2020_03  3799885.0     6
5  2021_03  3202171.0     6

In [65]:
result2.rename(index={'거래량':'2020'}, inplace=True) #컬럼명 변경

In [66]:
# 1. Index 기반 접근방법 
result2.at[0,'level_0'] = '1월'
# 0행, 'level_0'컬럼 값을 1월로 변경

In [67]:

result2.at[2,'2021'] = '23763436'

In [68]:
result2.at[4,'2021'] = '6405142'

In [69]:
result2

   level_0        거래량      2021
0       1월  8876265.0         6
1  2021_01  6989360.0         6
2  2020_02  8566983.0  23763436
3  2021_02  5940539.0         6
4  2020_03  3799885.0   6405142
5  2021_03  3202171.0         6

In [70]:
result3 = result2.drop([1,3,5], axis=0)#필요없는 행 삭제

In [71]:
result3

   level_0        거래량      2021
0       1월  8876265.0         6
2  2020_02  8566983.0  23763436
4  2020_03  3799885.0   6405142

In [72]:
result3.at[2,'level_0'] = '2월'
result3.at[4,'level_0'] = '3월'

In [73]:
result3.columns=['month','2020','2021'] #컬럼명 변경

In [74]:
result4 = result3.reset_index()
result4.drop(['index'], axis=1, inplace=True)#필요없는 칼럼 삭제

In [75]:
result4.dtypes#타입확인

month     object
2020     float64
2021       int64
dtype: object

In [76]:
result4 = result4.astype({'2020':'int'})#2020컬럼 정수 처리

In [77]:
result4#산지별 거래량으로 실 거래량합계랑 차이가 있음

  month     2020      2021
0    1월  8876265         6
1    2월  8566983  23763436
2    3월  3799885   6405142

### 거래량 총합 ###

In [78]:
sum1 = Jan20['거래량'].sum()
sum1

9114615

In [79]:
sum2 = Jan21['거래량'].sum()
sum2

7197294

In [80]:
sum3 = Feb20['거래량'].sum()
sum3

8712647

In [81]:
sum4 = Feb21['거래량'].sum()
sum4

6149395

In [82]:
sum5 = Mar20['거래량'].sum()
sum5

3872972

In [83]:
sum6 = Mar21['거래량'].sum()
sum6

3300430

In [88]:
result4.at[0,'2020'] = '9114615'
result4.at[0,'2021'] = '7197294'
result4.at[1,'2020'] = '8712647'
result4.at[1,'2021'] = '6149395'
result4.at[2,'2020'] = '3872972'
result4.at[2,'2021'] = '3300430'

result4

  month     2020     2021
0    1월  9114615  7197294
1    2월  8712647  6149395
2    3월  3872972  3300430

### 연도별 1~3월 산지별 거래량 합계 전처리 ###

In [90]:
#인덱스, 산지명 제외
result.drop(['index','산지명'], axis=1, inplace=True)

In [91]:
sum_trading_volume2 = Jan21.groupby(Jan21['산지명'])['거래량'].sum().reset_index()
#2020 1월 산지 별 거래량 합계
sum_trading_volume2

          산지명     거래량
0         강원도     200
1     강원도 강릉시   52798
2     강원도 고성군      17
3     강원도 동해시    1210
4     강원도 양양군  118410
..        ...     ...
127  충청북도 영동군    2003
128  충청북도 제천시    7563
129  충청북도 증평군    1640
130  충청북도 청주시  228302
131  충청북도 충주시  113297

[132 rows x 2 columns]

In [92]:
asc_df_MTV2 = sum_trading_volume2.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV2

     index       산지명      거래량
0       98  전라남도 진도군  1871637
1       91  전라남도 신안군  1450623
2       63     부산광역시   329887
3       14   경기도 구리시   326826
4      130  충청북도 청주시   228302
..     ...       ...      ...
127     62  대전광역시 중구       40
128     11       경기도       30
129    109  전라북도 정읍시       22
130    119  충청남도 서천군       18
131      2   강원도 고성군       17

[132 rows x 3 columns]

In [93]:
asc_df_MTV2.sum()

index                                                 8646
산지명      전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...
거래량                                                6989360
dtype: object

In [94]:
asc_df_MTV2.loc["Total", :] = asc_df_MTV2.sum()

In [95]:
asc_df_MTV2

        index                                                산지명        거래량
0        98.0                                           전라남도 진도군  1871637.0
1        91.0                                           전라남도 신안군  1450623.0
2        63.0                                              부산광역시   329887.0
3        14.0                                            경기도 구리시   326826.0
4       130.0                                           충청북도 청주시   228302.0
...       ...                                                ...        ...
128      11.0                                                경기도       30.0
129     109.0                                           전라북도 정읍시       22.0
130     119.0                                           충청남도 서천군       18.0
131       2.0                                            강원도 고성군       17.0
Total  8646.0  전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...  6989360.0

[133 rows x 3 columns]

In [96]:
sum_trading_volume3 = Feb20.groupby(Feb20['산지명'])['거래량'].sum().reset_index()
sum_trading_volume3

          산지명     거래량
0     강원도 강릉시   47573
1     강원도 고성군     862
2     강원도 동해시    8330
3     강원도 원주시    5437
4     강원도 인제군   64065
..        ...     ...
137  충청북도 옥천군     511
138  충청북도 제천시   20793
139  충청북도 진천군      58
140  충청북도 청주시  188988
141  충청북도 충주시   52762

[142 rows x 2 columns]

In [97]:
asc_df_MTV3 = sum_trading_volume3.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV3

     index        산지명      거래량
0      104   전라남도 진도군  2107991
1       99   전라남도 신안군  1820322
2       10    경기도 구리시   434842
3       66      부산광역시   375417
4       67  부산광역시 강서구   228587
..     ...        ...      ...
137    117    제주특별자치도       30
138     62   대구광역시 서구       25
139     28   경상남도 거창군       20
140     52   경상북도 의성군       17
141     29   경상남도 고성군        5

[142 rows x 3 columns]

In [98]:
asc_df_MTV3.sum()

index                                                10011
산지명      전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...
거래량                                                8566983
dtype: object

In [99]:
asc_df_MTV3.loc["Total", :] = asc_df_MTV3.sum()

In [100]:
asc_df_MTV3

         index                                                산지명        거래량
0        104.0                                           전라남도 진도군  2107991.0
1         99.0                                           전라남도 신안군  1820322.0
2         10.0                                            경기도 구리시   434842.0
3         66.0                                              부산광역시   375417.0
4         67.0                                          부산광역시 강서구   228587.0
...        ...                                                ...        ...
138       62.0                                           대구광역시 서구       25.0
139       28.0                                           경상남도 거창군       20.0
140       52.0                                           경상북도 의성군       17.0
141       29.0                                           경상남도 고성군        5.0
Total  10011.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...  8566983.0

[143 rows x 3 columns]

In [101]:
sum_trading_volume4 = Feb21.groupby(Feb21['산지명'])['거래량'].sum().reset_index()
sum_trading_volume4

          산지명     거래량
0     강원도 강릉시   48290
1     강원도 양양군   99990
2     강원도 원주시    3131
3     강원도 인제군    9282
4     강원도 정선군    4630
..        ...     ...
116  충청북도 옥천군       3
117  충청북도 음성군      36
118  충청북도 제천시    3246
119  충청북도 청주시  101837
120  충청북도 충주시   48628

[121 rows x 2 columns]

In [102]:
asc_df_MTV4.sum()

index                                              14520.0
산지명      전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...
거래량                                             11881078.0
dtype: object

In [103]:
asc_df_MTV4 = sum_trading_volume4.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV4

     index       산지명      거래량
0       82  전라남도 신안군  1852960
1       88  전라남도 진도군  1502533
2       56     부산광역시   313009
3       11   경기도 구리시   228504
4       28  경상남도 김해시   162231
..     ...       ...      ...
116     41  경상북도 상주시        6
117    107  충청남도 부여군        5
118    113  충청남도 청양군        3
119    102      충청남도        3
120    116  충청북도 옥천군        3

[121 rows x 3 columns]

In [104]:
asc_df_MTV4.loc["Total", :] = asc_df_MTV4.sum()

In [105]:
asc_df_MTV4

        index                                                산지명        거래량
0        82.0                                           전라남도 신안군  1852960.0
1        88.0                                           전라남도 진도군  1502533.0
2        56.0                                              부산광역시   313009.0
3        11.0                                            경기도 구리시   228504.0
4        28.0                                           경상남도 김해시   162231.0
...       ...                                                ...        ...
117     107.0                                           충청남도 부여군        5.0
118     113.0                                           충청남도 청양군        3.0
119     102.0                                               충청남도        3.0
120     116.0                                           충청북도 옥천군        3.0
Total  7260.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...  5940539.0

[122 rows x 3 columns]

In [106]:
sum_trading_volume5 = Mar20.groupby(Mar20['산지명'])['거래량'].sum().reset_index()
sum_trading_volume5

          산지명    거래량
0     강원도 강릉시  23395
1     강원도 동해시   2240
2     강원도 원주시   3753
3     강원도 인제군  31230
4     강원도 정선군    300
..        ...    ...
119  충청북도 영동군     68
120  충청북도 제천시   6994
121  충청북도 진천군    112
122  충청북도 청주시  58406
123  충청북도 충주시  27765

[124 rows x 2 columns]

In [107]:
asc_df_MTV5 = sum_trading_volume5.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV5

     index           산지명     거래량
0       86      전라남도 신안군  917565
1       91      전라남도 진도군  863131
2        6       경기도 구리시  213953
3       55         부산광역시  179809
4       56     부산광역시 강서구  104426
..     ...           ...     ...
119    106      충청남도 공주시      37
120     44      광주광역시 동구      28
121    103  제주특별자치도 서귀포시      27
122    110      충청남도 보령시      18
123     24      경상남도 거제시       4

[124 rows x 3 columns]

In [108]:
asc_df_MTV5.sum()

index                                                 7626
산지명      전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...
거래량                                                3799885
dtype: object

In [109]:
asc_df_MTV5.loc["Total", :] = asc_df_MTV5.sum()

In [110]:
asc_df_MTV5

        index                                                산지명        거래량
0        86.0                                           전라남도 신안군   917565.0
1        91.0                                           전라남도 진도군   863131.0
2         6.0                                            경기도 구리시   213953.0
3        55.0                                              부산광역시   179809.0
4        56.0                                          부산광역시 강서구   104426.0
...       ...                                                ...        ...
120      44.0                                           광주광역시 동구       28.0
121     103.0                                       제주특별자치도 서귀포시       27.0
122     110.0                                           충청남도 보령시       18.0
123      24.0                                           경상남도 거제시        4.0
Total  7626.0  전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...  3799885.0

[125 rows x 3 columns]

In [111]:
sum_trading_volume6 = Mar21.groupby(Mar21['산지명'])['거래량'].sum().reset_index()
sum_trading_volume6

          산지명    거래량
0         강원도    840
1     강원도 강릉시  29920
2     강원도 동해시    570
3     강원도 양양군  41550
4     강원도 원주시   3850
..        ...    ...
111  충청북도 옥천군     37
112  충청북도 음성군    540
113  충청북도 제천시    761
114  충청북도 청주시  58039
115  충청북도 충주시  23631

[116 rows x 2 columns]

In [112]:
asc_df_MTV6 = sum_trading_volume6.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV6

     index        산지명     거래량
0       81   전라남도 신안군  953441
1       87   전라남도 진도군  749608
2       53      부산광역시  209468
3        9    경기도 구리시  162760
4       60  서울특별시 송파구   76108
..     ...        ...     ...
111     43   경상북도 포항시      10
112    104   충청남도 부여군       9
113     65  울산광역시 울주군       7
114     51   대전광역시 동구       5
115    109   충청남도 홍성군       1

[116 rows x 3 columns]

In [113]:
asc_df_MTV6.sum()

index                                                 6670
산지명      전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...
거래량                                                3202171
dtype: object

In [114]:
asc_df_MTV6.loc["Total", :] = asc_df_MTV6.sum()

In [115]:
asc_df_MTV6

        index                                                산지명        거래량
0        81.0                                           전라남도 신안군   953441.0
1        87.0                                           전라남도 진도군   749608.0
2        53.0                                              부산광역시   209468.0
3         9.0                                            경기도 구리시   162760.0
4        60.0                                          서울특별시 송파구    76108.0
...       ...                                                ...        ...
112     104.0                                           충청남도 부여군        9.0
113      65.0                                          울산광역시 울주군        7.0
114      51.0                                           대전광역시 동구        5.0
115     109.0                                           충청남도 홍성군        1.0
Total  6670.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...  3202171.0

[117 rows x 3 columns]

### 도매시장 별 거래량 ###

In [116]:
#merge
result = pd.merge(sum_trading_volume,sum_trading_volume2, on = '산지명', how = 'left')#'산지명'열 left 위주로 merge
result

          산지명   거래량_x     거래량_y
0         강원도    3915     200.0
1     강원도 강릉시   46925   52798.0
2     강원도 동해시   10946    1210.0
3     강원도 원주시    6382    3590.0
4     강원도 인제군   70467   12960.0
..        ...     ...       ...
147  충청북도 음성군      78       NaN
148  충청북도 제천시   10625    7563.0
149  충청북도 진천군     591       NaN
150  충청북도 청주시  292296  228302.0
151  충청북도 충주시   54295  113297.0

[152 rows x 3 columns]

In [117]:
result2 = pd.merge(result,sum_trading_volume3, on = '산지명', how = 'left')
result3 = pd.merge(result2,sum_trading_volume4, on = '산지명', how = 'left')
result4 = pd.merge(result3,sum_trading_volume5, on = '산지명', how = 'left')
result5 = pd.merge(result4,sum_trading_volume6, on = '산지명', how = 'left')
result5

          산지명   거래량_x     거래량_y     거래량_x     거래량_y    거래량_x    거래량_y
0         강원도    3915     200.0       NaN       NaN      NaN    840.0
1     강원도 강릉시   46925   52798.0   47573.0   48290.0  23395.0  29920.0
2     강원도 동해시   10946    1210.0    8330.0       NaN   2240.0    570.0
3     강원도 원주시    6382    3590.0    5437.0    3131.0   3753.0   3850.0
4     강원도 인제군   70467   12960.0   64065.0    9282.0  31230.0   5630.0
..        ...     ...       ...       ...       ...      ...      ...
147  충청북도 음성군      78       NaN       NaN      36.0      NaN    540.0
148  충청북도 제천시   10625    7563.0   20793.0    3246.0   6994.0    761.0
149  충청북도 진천군     591       NaN      58.0       NaN    112.0      NaN
150  충청북도 청주시  292296  228302.0  188988.0  101837.0  58406.0  58039.0
151  충청북도 충주시   54295  113297.0   52762.0   48628.0  27765.0  23631.0

[152 rows x 7 columns]

In [118]:
# 결측치 채우기
result5.info()
result5.fillna(0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 151
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   산지명     152 non-null    object
 1   거래량_x   152 non-null    int64
 2   거래량_y   117 non-null    float64
 3   거래량_x   128 non-null    float64
 4   거래량_y   104 non-null    float64
 5   거래량_x   117 non-null    float64
 6   거래량_y   100 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 9.5+ KB

          산지명   거래량_x     거래량_y     거래량_x     거래량_y    거래량_x    거래량_y
0         강원도    3915     200.0       0.0       0.0      0.0    840.0
1     강원도 강릉시   46925   52798.0   47573.0   48290.0  23395.0  29920.0
2     강원도 동해시   10946    1210.0    8330.0       0.0   2240.0    570.0
3     강원도 원주시    6382    3590.0    5437.0    3131.0   3753.0   3850.0
4     강원도 인제군   70467   12960.0   64065.0    9282.0  31230.0   5630.0
..        ...     ...       ...       ...       ...      ...      ...
147  충청북도 음성군      78       0.0       0.0      36.0      0.0    540.0
148  충청북도 제천시   10625    7563.0   20793.0    3246.0   6994.0    761.0
149  충청북도 진천군     591       0.0      58.0       0.0    112.0      0.0
150  충청북도 청주시  292296  228302.0  188988.0  101837.0  58406.0  58039.0
151  충청북도 충주시   54295  113297.0   52762.0   48628.0  27765.0  23631.0

[152 rows x 7 columns]

In [119]:
# 컬럼 변경
result5.columns=['산지명','202001','202101','202002','202102','202003','202103']

In [120]:
result5

          산지명  202001    202101    202002    202102   202003   202103
0         강원도    3915     200.0       NaN       NaN      NaN    840.0
1     강원도 강릉시   46925   52798.0   47573.0   48290.0  23395.0  29920.0
2     강원도 동해시   10946    1210.0    8330.0       NaN   2240.0    570.0
3     강원도 원주시    6382    3590.0    5437.0    3131.0   3753.0   3850.0
4     강원도 인제군   70467   12960.0   64065.0    9282.0  31230.0   5630.0
..        ...     ...       ...       ...       ...      ...      ...
147  충청북도 음성군      78       NaN       NaN      36.0      NaN    540.0
148  충청북도 제천시   10625    7563.0   20793.0    3246.0   6994.0    761.0
149  충청북도 진천군     591       NaN      58.0       NaN    112.0      NaN
150  충청북도 청주시  292296  228302.0  188988.0  101837.0  58406.0  58039.0
151  충청북도 충주시   54295  113297.0   52762.0   48628.0  27765.0  23631.0

[152 rows x 7 columns]

In [121]:
result5 = result5.fillna(0)

In [122]:
# 정수 처리
result5 = result5.astype({'202001':'int'},{'202101':'int'})#2020컬럼 정수 처리
# TypeError: astype() takes from 2 to 4 positional arguments but 5 were given

In [123]:
result5.isnull()

       산지명  202001  202101  202002  202102  202003  202103
0    False   False   False   False   False   False   False
1    False   False   False   False   False   False   False
2    False   False   False   False   False   False   False
3    False   False   False   False   False   False   False
4    False   False   False   False   False   False   False
..     ...     ...     ...     ...     ...     ...     ...
147  False   False   False   False   False   False   False
148  False   False   False   False   False   False   False
149  False   False   False   False   False   False   False
150  False   False   False   False   False   False   False
151  False   False   False   False   False   False   False

[152 rows x 7 columns]

In [124]:
result5 = result5.astype({'202002':'int'},{'202102':'int'})

In [125]:
result5 = result5.astype({'202003':'int'},{'202103':'int'})
result5

          산지명  202001    202101  202002    202102  202003   202103
0         강원도    3915     200.0       0       0.0       0    840.0
1     강원도 강릉시   46925   52798.0   47573   48290.0   23395  29920.0
2     강원도 동해시   10946    1210.0    8330       0.0    2240    570.0
3     강원도 원주시    6382    3590.0    5437    3131.0    3753   3850.0
4     강원도 인제군   70467   12960.0   64065    9282.0   31230   5630.0
..        ...     ...       ...     ...       ...     ...      ...
147  충청북도 음성군      78       0.0       0      36.0       0    540.0
148  충청북도 제천시   10625    7563.0   20793    3246.0    6994    761.0
149  충청북도 진천군     591       0.0      58       0.0     112      0.0
150  충청북도 청주시  292296  228302.0  188988  101837.0   58406  58039.0
151  충청북도 충주시   54295  113297.0   52762   48628.0   27765  23631.0

[152 rows x 7 columns]

### 데이터 시각화 ###

In [86]:
import plotly
import plotly.offline as pyo
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

### 대파 총 거래량 합계 ###

In [89]:
#꺾은선,누적막대(stacked)
trace1 = go.Bar(x=result4['month'], y=result4['2020'], name='2020')
trace2 = go.Bar(x=result4['month'], y=result4['2021'], name='2021')
trace3 = go.Scatter(x = result4['month'], y = result4['2020'], mode = 'lines', name = '2020lines')
trace4 = go.Scatter(x = result4['month'], y = result4['2021'], mode = 'lines', name = '2021lines')

data = [trace1, trace2, trace3, trace4]

layout = go.Layout(title='2020-2021 1~3월 대파 총 거래량', barmode='stack')

fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)

### 산지 별 총 거래량 합계 ###

In [130]:
#누적막대
trace1 = go.Bar(x=result5['산지명'], y=result5['202001'], name='2020년1월')
trace2 = go.Bar(x=result5['산지명'], y=result5['202101'], name='2021년1월')
trace3 = go.Bar(x=result5['산지명'], y=result5['202002'], name='2020년2월')
trace4 = go.Bar(x=result5['산지명'], y=result5['202102'], name='2021년2월')
trace5 = go.Bar(x=result5['산지명'], y=result5['202003'], name='2020년3월')
trace6 = go.Bar(x=result5['산지명'], y=result5['202103'], name='2021년3월')

data = [trace1, trace2, trace3, trace4, trace5, trace6]

layout = go.Layout(title='2020-2021 1~3월 산지 별 대파 출하량', barmode='stack')

fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)