In [1]:
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings(action='ignore')
#경고 메시지 숨기기

### 2020/2021 1~3월 데이터 불러오기 ###

In [2]:
#Csv파일 불러오기
Jan20 = pd.read_csv(r'C:\study\python\notebook\202001.csv', encoding='utf-8-sig')
print(Jan20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자   거래량  \
0               0       2    정가수의  24000101  585000  전라북도 고창군  20200102   500
1              47       1      경매  24000401  950000      전라남도  20200102   200
2              27       1      경매  24000103  535807       NaN  20200102   180
3              25       1      경매  24000103  535807       NaN  20200102   155
4              95       1      경매  35010101  561302       NaN  20200102   131
...           ...     ...     ...       ...     ...       ...       ...   ...
43015       31838       1      경매  38030302  630850       NaN  20200131   100
43016       31859       1      경매  38040102  548800       NaN  20200131    80
43017       31858       2    정가수의  38040102  676810       NaN  20200131  1300
43018       31819       2    정가수의  38020101  138701       NaN  20200131    20
43019       31857       1      경매  38040101  676000  경상남도 함양군  20200131   100

       도매시장법인명   거래가격  ...  포장상태코드 포장상태명        산지명 등급코드     품종명 거래규격단위코드  \
0      광주원협(공)   6000  ...     1ZZ    기타   전라북도 고창군   11  대파(일반)       12
1      농협광주(공)   1900  ...     1ZZ    기타       전라남도   11  대파(일반)       12
2       광주중앙청과   2300  ...     107   파렛트   전라남도 신안군   11  대파(일반)       12
3       광주중앙청과   2000  ...     107   파렛트   전라남도 신안군   11  대파(일반)       12
4      전주원협(공)   2600  ...     111     단   전라북도 전주시   11  대파(일반)       12
...        ...    ...  ...     ...   ...        ...  ...     ...      ...
43015  창원원협(공)   1700  ...     111     단   경상남도 창원시   19  대파(일반)       12
43016   진주중앙청과    800  ...     111     단   전라남도 고흥군   11  대파(일반)       12
43017   진주중앙청과   1300  ...     111     단   경상남도 함양군   11  대파(일반)       12
43018  울산원협(공)  10414  ...     101    상자  서울특별시 송파구   11  대파(일반)       12
43019  진주원협(공)   1600  ...     111     단   경상남도 함양군   11  대파(일반)       12

      거래단위명  도매시장코드     도매시장명                 경매시간
0        kg  240001  광주각화도매시장                  NaN
1        kg  240004  광주서부도매시장  2020-01-02 05:11:02
2        kg  240001  광주각화도매시장                  NaN
3        kg  240001  광주각화도매시장  2020-01-02 04:21:30
4        kg  350101    전주도매시장                  NaN
...     ...     ...       ...                  ...
43015    kg  380303  창원내서도매시장                  NaN
43016    kg  380401    진주도매시장  2020-01-31 08:00:00
43017    kg  380401    진주도매시장  2020-01-31 08:00:00
43018    kg  380201    울산도매시장                  NaN
43019    kg  380401    진주도매시장                  NaN

[43020 rows x 23 columns]

In [3]:
Jan21 = pd.read_csv(r'C:\study\python\notebook\202101.csv', encoding='utf-8-sig')
print(Jan21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량  도매시장법인명  \
0               0       1      경매  24000101  535800  20210102  150  광주원협(공)
1           76229       2    정가수의  38020101  907000  20210102  250  울산원협(공)
2           76228       2    정가수의  38020101  907000  20210102   80  울산원협(공)
3           76227       2    정가수의  38020101  907000  20210102   50  울산원협(공)
4           76226       2    정가수의  38020101  907000  20210102   15  울산원협(공)
...           ...     ...     ...       ...     ...       ...  ...      ...
64115       99579       2    정가수의  38020101  680813  20210131   20  울산원협(공)
64116       99580       2    정가수의  38020101  680813  20210131   10  울산원협(공)
64117       99581       2    정가수의  38020101  680813  20210131  100  울산원협(공)
64118       99582       1      경매  38020102  626000  20210131   40   울산중앙청과
64119       23377       2    정가수의  38020101  680813  20210131  100  울산원협(공)

        거래가격  출하구분코드  ... 포장상태명       산지명 등급코드     품종명 거래규격단위코드 거래단위명  도매시장코드  \
0       4300     3.0  ...     단  전라남도 신안군   11  대파(일반)       12    kg  240001
1       2300     3.0  ...     단     울산광역시   12     깐대파       12    kg  380201
2       2300     3.0  ...     단     울산광역시   12     깐대파       12    kg  380201
3       2300     3.0  ...     단     울산광역시   12     깐대파       12    kg  380201
4      13000     3.0  ...    봉지     울산광역시   12     깐대파       12    kg  380201
...      ...     ...  ...   ...       ...  ...     ...      ...   ...     ...
64115  36000     4.0  ...    상자  울산광역시 남구   12  대파(수입)       12    kg  380201
64116  36000     4.0  ...    상자  울산광역시 남구   12  대파(수입)       12    kg  380201
64117  36000     4.0  ...    상자  울산광역시 남구   12  대파(수입)       12    kg  380201
64118  22000     3.0  ...    기타  경상남도 양산시   1Z  대파(일반)       12    kg  380201
64119  36000     4.0  ...    상자  울산광역시 남구   12  대파(수입)       12    kg  380201

          도매시장명      산지명2  경매시간
0      광주각화도매시장       NaN   NaN
1        울산도매시장     울산광역시   NaN
2        울산도매시장     울산광역시   NaN
3        울산도매시장     울산광역시   NaN
4        울산도매시장     울산광역시   NaN
...         ...       ...   ...
64115    울산도매시장       NaN   NaN
64116    울산도매시장       NaN   NaN
64117    울산도매시장       NaN   NaN
64118    울산도매시장  경상남도 양산시   NaN
64119    울산도매시장       NaN   NaN

[64120 rows x 23 columns]

In [4]:
Feb20 = pd.read_csv(r'C:\study\python\notebook\202002.csv', encoding='utf-8-sig')
print(Feb20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자  거래량  \
0           31877       1      경매  11000801  950000      전라남도  20200201  500
1           31876       1      경매  11000801  950000      전라남도  20200201  500
2           31875       1      경매  11000801  539000  전라남도 진도군  20200201  400
3           31874       1      경매  11000801  539000  전라남도 진도군  20200201  400
4           31873       1      경매  11000801  950000      전라남도  20200201  500
...           ...     ...     ...       ...     ...       ...       ...  ...
40045       76895       1      경매  21000903  535830       NaN  20200229   50
40046       76896       1      경매  22000101  539000  전라남도 진도군  20200229   44
40047       76897       1      경매  22000101  539000  전라남도 진도군  20200229   44
40048       76898       1      경매  22000101  539000  전라남도 진도군  20200229   44
40049       76899       1      경매  22000103  539000  전라남도 진도군  20200229  250

       도매시장법인명  거래가격  ...  포장상태코드 포장상태명       산지명 등급코드     품종명 거래규격단위코드 거래단위명  \
0      농협강서(공)   600  ...     111     단      전라남도   11  대파(일반)       12    kg
1      농협강서(공)   600  ...     111     단      전라남도   11  대파(일반)       12    kg
2      농협강서(공)   600  ...     111     단  전라남도 진도군   11  대파(일반)       12    kg
3      농협강서(공)   600  ...     111     단  전라남도 진도군   11  대파(일반)       12    kg
4      농협강서(공)   600  ...     111     단      전라남도   11  대파(일반)       12    kg
...        ...   ...  ...     ...   ...       ...  ...     ...      ...   ...
40045  농협반여(공)   510  ...     1ZZ    기타  전라남도 신안군   11  대파(일반)       12    kg
40046   대구중앙청과  6500  ...     101    상자  전라남도 진도군   11  대파(일반)       12    kg
40047   대구중앙청과  6500  ...     101    상자  전라남도 진도군   11  대파(일반)       12    kg
40048   대구중앙청과  6500  ...     101    상자  전라남도 진도군   11  대파(일반)       12    kg
40049     효성청과   720  ...     111     단  전라남도 진도군   11  대파(일반)       12    kg

       도매시장코드     도매시장명           경매시간
0      110008  서울강서도매시장  2020-02-01 ::
1      110008  서울강서도매시장  2020-02-01 ::
2      110008  서울강서도매시장  2020-02-01 ::
3      110008  서울강서도매시장  2020-02-01 ::
4      110008  서울강서도매시장  2020-02-01 ::
...       ...       ...            ...
40045  210009  부산반여도매시장            NaN
40046  220001  대구북부도매시장            NaN
40047  220001  대구북부도매시장            NaN
40048  220001  대구북부도매시장            NaN
40049  220001  대구북부도매시장            NaN

[40050 rows x 23 columns]

In [5]:
Feb21 = pd.read_csv(r'C:\study\python\notebook\202102.csv', encoding='utf-8-sig')
print(Feb21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량  도매시장법인명  \
0           24844       1      경매  38010101  641111  20210201  100     창원청과
1           24843       1      경매  37150102  730010  20210201   10   구미중앙청과
2           24842       1      경매  37150102  730010  20210201   15   구미중앙청과
3           24841       1      경매  37150102  730010  20210201   15   구미중앙청과
4           24840       1      경매  37150102  730010  20210201    4   구미중앙청과
...           ...     ...     ...       ...     ...       ...  ...      ...
55789       52918       2    정가수의  11000802  535000  20210227  200     서부청과
55790       52921       1      경매  11000803  215000  20210227  550     강서청과
55791       52916       1      경매  11000802  535000  20210227  500     서부청과
55792       52917       1      경매  11000802  535000  20210227  500     서부청과
55793       54678       1      경매  25000302  305325  20210301  100  대전원협(공)

        거래가격  출하구분코드  ... 포장상태명        산지명 등급코드     품종명 거래규격단위코드 거래단위명  \
0       5100     3.0  ...    기타   경상남도 창원시   11  대파(일반)       12    kg
1      12000     3.0  ...    기타   경상북도 구미시   12  대파(일반)       12    kg
2      15500     3.0  ...    기타   경상북도 구미시   11  대파(일반)       12    kg
3      15500     3.0  ...    기타   경상북도 구미시   11  대파(일반)       12    kg
4      20300     4.0  ...    기타   경상북도 구미시   13  대파(일반)       12    kg
...      ...     ...  ...   ...        ...  ...     ...      ...   ...
55789   5200     NaN  ...     단   전라남도 신안군   11  대파(일반)       12    kg
55790   5100     NaN  ...   PE대    강원도 양양군   1Z  대파(일반)       12    kg
55791   5200     NaN  ...     단   전라남도 신안군   11  대파(일반)       12    kg
55792   5200     NaN  ...     단   전라남도 신안군   11  대파(일반)       12    kg
55793  27300     3.0  ...     단  대전광역시 유성구   11  대파(일반)       12    kg

       도매시장코드     도매시장명      산지명2             경매시간
0      380101  창원팔용도매시장       NaN  2021-02-01 5:22
1      371501    구미도매시장       NaN  2021-02-01 8:47
2      371501    구미도매시장       NaN  2021-02-01 8:47
3      371501    구미도매시장       NaN  2021-02-01 8:46
4      371501    구미도매시장       NaN  2021-02-01 8:38
...       ...       ...       ...              ...
55789  110008  서울강서도매시장  전라남도 신안군    2021-02-27 ::
55790  110008  서울강서도매시장   강원도 양양군    2021-02-27 ::
55791  110008  서울강서도매시장  전라남도 신안군    2021-02-27 ::
55792  110008  서울강서도매시장  전라남도 신안군    2021-02-27 ::
55793  250003  대전노은도매시장       NaN              NaN

[55794 rows x 23 columns]

In [7]:
Mar20 = pd.read_csv(r'C:\study\python\notebook\202003.csv', encoding='utf-8-sig')
print(Mar20)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      산지명2      경락일자  거래량  \
0           78781       1      경매  25000102  539000  전라남도 진도군  20200302  300
1           78778       1      경매  25000102  535000  전라남도 신안군  20200302  230
2           78782       1      경매  25000102  539000  전라남도 진도군  20200302  250
3           78777       1      경매  25000102  535000  전라남도 신안군  20200302  230
4           78783       1      경매  25000102  539000  전라남도 진도군  20200302  250
...           ...     ...     ...       ...     ...       ...       ...  ...
18378       97787       1      경매  38040102  660010       NaN  20200314  100
18379       97788       1      경매  38040102  660010       NaN  20200314  100
18380       97789       1      경매  38040102  660010       NaN  20200314  100
18381       96623       1      경매  21000101  617030       NaN  20200314  200
18382       96668       1      경매  21000102  621000  경상남도 김해시  20200314  100

       도매시장법인명  거래가격  ...  포장상태코드 포장상태명        산지명 등급코드     품종명 거래규격단위코드  \
0      대전청과(주)  1030  ...     111     단   전라남도 진도군   1Z  대파(일반)       12
1      대전청과(주)  1260  ...     111     단   전라남도 신안군   1Z  대파(일반)       12
2      대전청과(주)  1050  ...     111     단   전라남도 진도군   1Z  대파(일반)       12
3      대전청과(주)  1250  ...     111     단   전라남도 신안군   1Z  대파(일반)       12
4      대전청과(주)  1060  ...     111     단   전라남도 진도군   1Z  대파(일반)       12
...        ...   ...  ...     ...   ...        ...  ...     ...      ...
18378   진주중앙청과   700  ...     111     단   경상남도 진주시   11  대파(일반)       12
18379   진주중앙청과   700  ...     111     단   경상남도 진주시   11  대파(일반)       12
18380   진주중앙청과   700  ...     111     단   경상남도 진주시   11  대파(일반)       12
18381  농협부산(공)   800  ...     111     단  부산광역시 사상구   12  대파(일반)       12
18382     부산청과   600  ...     111     단   경상남도 김해시   13  대파(일반)       12

      거래단위명  도매시장코드     도매시장명                 경매시간
0        kg  250001  대전오정도매시장                  NaN
1        kg  250001  대전오정도매시장                  NaN
2        kg  250001  대전오정도매시장                  NaN
3        kg  250001  대전오정도매시장                  NaN
4        kg  250001  대전오정도매시장                  NaN
...     ...     ...       ...                  ...
18378    kg  380401    진주도매시장  2020-03-14 08:00:00
18379    kg  380401    진주도매시장  2020-03-14 08:00:00
18380    kg  380401    진주도매시장  2020-03-14 08:00:00
18381    kg  210001  부산엄궁도매시장                  NaN
18382    kg  210001  부산엄궁도매시장                  NaN

[18383 rows x 23 columns]

In [8]:
Mar21 = pd.read_csv(r'C:\study\python\notebook\202103.csv', encoding='utf-8-sig')
print(Mar21)

       Unnamed: 0  경매구분코드 경매구분코드명  도매시장법인코드    산지코드      경락일자  거래량  도매시장법인명  \
0           54663       1      경매  25000301  535000  20210301  270   대전중앙청과
1           54662       2    정가수의  25000301  535000  20210301  123   대전중앙청과
2           54661       1      경매  25000301  535000  20210301   85   대전중앙청과
3           54658       1      경매  25000301  535000  20210301  120   대전중앙청과
4           54659       1      경매  25000301  535000  20210301  122   대전중앙청과
...           ...     ...     ...       ...     ...       ...  ...      ...
32488      147984       1      경매  21000101  232948  20210315  200  농협부산(공)
32489      147983       1      경매  21000101  232948  20210315  200  농협부산(공)
32490      147982       1      경매  21000101  902000  20210315  300  농협부산(공)
32491      147992       1      경매  21000103  902000  20210315  300     항도청과
32492      148110       1      경매  21000903  612810  20210315  300  농협반여(공)

        거래가격  출하구분코드  ... 포장상태명         산지명 등급코드     품종명 거래규격단위코드 거래단위명  \
0      11600     1.0  ...     단    전라남도 신안군   1Z  대파(일반)       12    kg
1      11600     1.0  ...   파렛트    전라남도 신안군   1Z  대파(일반)       12    kg
2      21600     1.0  ...     단    전라남도 신안군   1Z  대파(일반)       12    kg
3      23000     1.0  ...     단    전라남도 신안군   1Z  대파(일반)       12    kg
4      23200     1.0  ...     단    전라남도 신안군   1Z  대파(일반)       12    kg
...      ...     ...  ...   ...         ...  ...     ...      ...   ...
32488   3080     3.0  ...     단     강원도 평창군   12  대파(일반)       12    kg
32489   3050     3.0  ...     단     강원도 평창군   12  대파(일반)       12    kg
32490   3510     2.0  ...     단       부산광역시   12  대파(일반)       12    kg
32491   4000     3.0  ...     단       부산광역시   11  대파(일반)       12    kg
32492   3900     2.0  ...    기타  부산광역시 해운대구   11  대파(일반)       12    kg

       도매시장코드     도매시장명      산지명2  경매시간
0      250003  대전노은도매시장  전라남도 신안군   NaN
1      250003  대전노은도매시장  전라남도 신안군   NaN
2      250003  대전노은도매시장  전라남도 신안군   NaN
3      250003  대전노은도매시장  전라남도 신안군   NaN
4      250003  대전노은도매시장  전라남도 신안군   NaN
...       ...       ...       ...   ...
32488  210001  부산엄궁도매시장       NaN   NaN
32489  210001  부산엄궁도매시장       NaN   NaN
32490  210001  부산엄궁도매시장     부산광역시   NaN
32491  210001  부산엄궁도매시장     부산광역시   NaN
32492  210009  부산반여도매시장       NaN   NaN

[32493 rows x 23 columns]

### 2020/2021 1~3월 데이터 산지별 거래량 합계 전처리 ###

In [9]:
sum_trading_volume = Jan20.groupby(Jan20['산지명'])['거래량'].sum().reset_index()
#20산지 별 거래량 합계
sum_trading_volume

          산지명     거래량
0         강원도    3915
1     강원도 강릉시   46925
2     강원도 동해시   10946
3     강원도 원주시    6382
4     강원도 인제군   70467
..        ...     ...
147  충청북도 음성군      78
148  충청북도 제천시   10625
149  충청북도 진천군     591
150  충청북도 청주시  292296
151  충청북도 충주시   54295

[152 rows x 2 columns]

In [10]:
asc_df_MTV = sum_trading_volume.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV

     index       산지명      거래량
0      109  전라남도 진도군  2049449
1      102  전라남도 신안군  1607819
2       11   경기도 구리시   364288
3       70     부산광역시   317795
4      150  충청북도 청주시   292296
..     ...       ...      ...
147    121  전라북도 임실군       70
148    108  전라남도 장흥군       43
149     29  경상남도 거창군       40
150     31  경상남도 남해군       40
151    134  충청남도 보령시       36

[152 rows x 3 columns]

In [11]:
asc_df_MTV.sum()

index                                                11476
산지명      전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...
거래량                                                8876265
dtype: object

In [38]:
asc_df_MTV.loc["Total", :] = asc_df_MTV.sum()
#거래량 합계 total 행 추가

In [39]:
asc_df_MTV

         index                                                산지명        거래량
0        109.0                                           전라남도 진도군  2049449.0
1        102.0                                           전라남도 신안군  1607819.0
2         11.0                                            경기도 구리시   364288.0
3         70.0                                              부산광역시   317795.0
4        150.0                                           충청북도 청주시   292296.0
...        ...                                                ...        ...
148      108.0                                           전라남도 장흥군       43.0
149       29.0                                           경상남도 거창군       40.0
150       31.0                                           경상남도 남해군       40.0
151      134.0                                           충청남도 보령시       36.0
Total  11476.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...  8876265.0

[153 rows x 3 columns]

In [62]:
Total_trading1 = asc_df_MTV.iloc[[-1], :]
#total행 선택

In [63]:
Total_trading1.rename(index={'Total':'2020_01'}, inplace=True)
#total행 이름 변경

In [64]:
Total_trading1

           index                                                산지명        거래량
2020_01  11476.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...  8876265.0

In [48]:
Total_trading2 = asc_df_MTV2.iloc[[-1], :]

In [54]:
Total_trading2.rename(index={'2020_02':'2021_01'}, inplace=True)

In [55]:
Total_trading2

          index                                                산지명         거래량
2021_01  8646.0  전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...  13978720.0

In [59]:
Total_trading3 = asc_df_MTV3.iloc[[-1], :]

In [60]:
Total_trading3.rename(index={'Total':'2020_02'}, inplace=True)

In [61]:
Total_trading3

           index                                                산지명        거래량
2020_02  10011.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...  8567093.0

In [65]:
Total_trading4 = asc_df_MTV4.iloc[[-1], :]

In [66]:
Total_trading4.rename(index={'Total':'2021_02'}, inplace=True)

In [67]:
Total_trading4

          index                                                산지명         거래량
2021_02  7260.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...  11881718.0

In [68]:
Total_trading5 = asc_df_MTV5.iloc[[-1], :]

In [69]:
Total_trading5.rename(index={'Total':'2020_03'}, inplace=True)

In [70]:
Total_trading5

          index                                                산지명        거래량
2020_03  7626.0  전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...  3799695.0

In [71]:
Total_trading6 = asc_df_MTV6.iloc[[-1], :]

In [72]:
Total_trading6.rename(index={'Total':'2021_03'}, inplace=True)

In [73]:
Total_trading6

          index                                                산지명        거래량
2021_03  6670.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...  6405142.0

In [76]:
#각 연월 거래량 합계 merge
result = pd.concat([Total_trading1,Total_trading2,Total_trading3,Total_trading4,Total_trading5,Total_trading6])

In [77]:
result

,index,산지명,거래량
2020_01,11476.0,전라남도 진도군전라남도 신안군경기도 구리시부산광역시충청북도 청주시전라남도 영광군전라...,8876265.0
2021_01,8646.0,전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...,13978720.0
2020_02,10011.0,전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...,8567093.0
2021_02,7260.0,전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...,11881718.0
2020_03,7626.0,전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...,3799695.0
2021_03,6670.0,전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...,6405142.0

In [86]:
#시각화하기 위한 index 설정
result2 = result.reset_index()

In [83]:
result2

     index         거래량
0  2020_01   8876265.0
1  2021_01  13978720.0
2  2020_02   8567093.0
3  2021_02  11881718.0
4  2020_03   3799695.0
5  2021_03   6405142.0

In [78]:
#인덱스, 산지명 제외
result.drop(['index','산지명'], axis=1, inplace=True)

In [12]:
sum_trading_volume2 = Jan21.groupby(Jan21['산지명'])['거래량'].sum().reset_index()
#20산지 별 거래량 합계
sum_trading_volume2

          산지명     거래량
0         강원도     400
1     강원도 강릉시  105596
2     강원도 고성군      34
3     강원도 동해시    2420
4     강원도 양양군  236820
..        ...     ...
127  충청북도 영동군    4006
128  충청북도 제천시   15126
129  충청북도 증평군    3280
130  충청북도 청주시  456604
131  충청북도 충주시  226594

[132 rows x 2 columns]

In [13]:
asc_df_MTV2 = sum_trading_volume2.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV2

     index       산지명      거래량
0       98  전라남도 진도군  3743274
1       91  전라남도 신안군  2901246
2       63     부산광역시   659774
3       14   경기도 구리시   653652
4      130  충청북도 청주시   456604
..     ...       ...      ...
127     62  대전광역시 중구       80
128     11       경기도       60
129    109  전라북도 정읍시       44
130    119  충청남도 서천군       36
131      2   강원도 고성군       34

[132 rows x 3 columns]

In [14]:
asc_df_MTV2.sum()

index                                                 8646
산지명      전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...
거래량                                               13978720
dtype: object

In [36]:
asc_df_MTV2.loc["Total", :] = asc_df_MTV2.sum()

In [37]:
asc_df_MTV2

        index                                                산지명         거래량
0        98.0                                           전라남도 진도군   3743274.0
1        91.0                                           전라남도 신안군   2901246.0
2        63.0                                              부산광역시    659774.0
3        14.0                                            경기도 구리시    653652.0
4       130.0                                           충청북도 청주시    456604.0
...       ...                                                ...         ...
128      11.0                                                경기도        60.0
129     109.0                                           전라북도 정읍시        44.0
130     119.0                                           충청남도 서천군        36.0
131       2.0                                            강원도 고성군        34.0
Total  8646.0  전라남도 진도군전라남도 신안군부산광역시경기도 구리시충청북도 청주시부산광역시 중구경상...  13978720.0

[133 rows x 3 columns]

In [15]:
sum_trading_volume3 = Feb20.groupby(Feb20['산지명'])['거래량'].sum().reset_index()
sum_trading_volume3

          산지명     거래량
0     강원도 강릉시   47573
1     강원도 고성군     862
2     강원도 동해시    8330
3     강원도 원주시    5437
4     강원도 인제군   64065
..        ...     ...
137  충청북도 옥천군     511
138  충청북도 제천시   20793
139  충청북도 진천군      58
140  충청북도 청주시  188988
141  충청북도 충주시   52762

[142 rows x 2 columns]

In [16]:
asc_df_MTV3 = sum_trading_volume3.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV3

     index        산지명      거래량
0      104   전라남도 진도군  2107991
1       99   전라남도 신안군  1820322
2       10    경기도 구리시   434842
3       66      부산광역시   375417
4       67  부산광역시 강서구   228587
..     ...        ...      ...
137    117    제주특별자치도       30
138     62   대구광역시 서구       25
139     28   경상남도 거창군       20
140     52   경상북도 의성군       17
141     29   경상남도 고성군        5

[142 rows x 3 columns]

In [17]:
asc_df_MTV3.sum()

index                                                10011
산지명      전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...
거래량                                                8567093
dtype: object

In [34]:
asc_df_MTV3.loc["Total", :] = asc_df_MTV3.sum()

In [35]:
asc_df_MTV3

         index                                                산지명        거래량
0        104.0                                           전라남도 진도군  2107991.0
1         99.0                                           전라남도 신안군  1820322.0
2         10.0                                            경기도 구리시   434842.0
3         66.0                                              부산광역시   375417.0
4         67.0                                          부산광역시 강서구   228587.0
...        ...                                                ...        ...
138       62.0                                           대구광역시 서구       25.0
139       28.0                                           경상남도 거창군       20.0
140       52.0                                           경상북도 의성군       17.0
141       29.0                                           경상남도 고성군        5.0
Total  10011.0  전라남도 진도군전라남도 신안군경기도 구리시부산광역시부산광역시 강서구충청북도 청주시전...  8567093.0

[143 rows x 3 columns]

In [18]:
sum_trading_volume4 = Feb21.groupby(Feb21['산지명'])['거래량'].sum().reset_index()
sum_trading_volume4

          산지명     거래량
0     강원도 강릉시   96580
1     강원도 양양군  199980
2     강원도 원주시    6262
3     강원도 인제군   18564
4     강원도 정선군    9260
..        ...     ...
116  충청북도 옥천군       6
117  충청북도 음성군      72
118  충청북도 제천시    6492
119  충청북도 청주시  203674
120  충청북도 충주시   97256

[121 rows x 2 columns]

In [21]:
asc_df_MTV4.sum()

index                                                 7260
산지명      전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...
거래량                                               11881718
dtype: object

In [20]:
asc_df_MTV4 = sum_trading_volume4.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV4

     index       산지명      거래량
0       82  전라남도 신안군  3705920
1       88  전라남도 진도군  3005066
2       56     부산광역시   626018
3       11   경기도 구리시   457008
4       28  경상남도 김해시   324462
..     ...       ...      ...
116     41  경상북도 상주시       12
117    107  충청남도 부여군       10
118    113  충청남도 청양군        6
119    102      충청남도        6
120    116  충청북도 옥천군        6

[121 rows x 3 columns]

In [32]:
asc_df_MTV4.loc["Total", :] = asc_df_MTV4.sum()

In [33]:
asc_df_MTV4

        index                                                산지명         거래량
0        82.0                                           전라남도 신안군   3705920.0
1        88.0                                           전라남도 진도군   3005066.0
2        56.0                                              부산광역시    626018.0
3        11.0                                            경기도 구리시    457008.0
4        28.0                                           경상남도 김해시    324462.0
...       ...                                                ...         ...
117     107.0                                           충청남도 부여군        10.0
118     113.0                                           충청남도 청양군         6.0
119     102.0                                               충청남도         6.0
120     116.0                                           충청북도 옥천군         6.0
Total  7260.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시경상남도 김해시부산광역시 중구경기...  11881718.0

[122 rows x 3 columns]

In [22]:
sum_trading_volume5 = Mar20.groupby(Mar20['산지명'])['거래량'].sum().reset_index()
sum_trading_volume5

          산지명    거래량
0     강원도 강릉시  23395
1     강원도 동해시   2240
2     강원도 원주시   3753
3     강원도 인제군  31230
4     강원도 정선군    300
..        ...    ...
119  충청북도 영동군     68
120  충청북도 제천시   6994
121  충청북도 진천군    112
122  충청북도 청주시  58406
123  충청북도 충주시  27765

[124 rows x 2 columns]

In [23]:
asc_df_MTV5 = sum_trading_volume5.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV5

     index           산지명     거래량
0       86      전라남도 신안군  917325
1       91      전라남도 진도군  863131
2        6       경기도 구리시  213953
3       55         부산광역시  179809
4       56     부산광역시 강서구  104426
..     ...           ...     ...
119    106      충청남도 공주시      37
120     44      광주광역시 동구      28
121    103  제주특별자치도 서귀포시      27
122    110      충청남도 보령시      18
123     24      경상남도 거제시       4

[124 rows x 3 columns]

In [24]:
asc_df_MTV5.sum()

index                                                 7626
산지명      전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...
거래량                                                3799695
dtype: object

In [30]:
asc_df_MTV5.loc["Total", :] = asc_df_MTV5.sum()

In [31]:
asc_df_MTV5

        index                                                산지명        거래량
0        86.0                                           전라남도 신안군   917325.0
1        91.0                                           전라남도 진도군   863131.0
2         6.0                                            경기도 구리시   213953.0
3        55.0                                              부산광역시   179809.0
4        56.0                                          부산광역시 강서구   104426.0
...       ...                                                ...        ...
120      44.0                                           광주광역시 동구       28.0
121     103.0                                       제주특별자치도 서귀포시       27.0
122     110.0                                           충청남도 보령시       18.0
123      24.0                                           경상남도 거제시        4.0
Total  7626.0  전라남도 신안군전라남도 진도군경기도 구리시부산광역시부산광역시 강서구서울특별시 송파구...  3799695.0

[125 rows x 3 columns]

In [25]:
sum_trading_volume6 = Mar21.groupby(Mar21['산지명'])['거래량'].sum().reset_index()
sum_trading_volume6

          산지명     거래량
0         강원도    1680
1     강원도 강릉시   59840
2     강원도 동해시    1140
3     강원도 양양군   83100
4     강원도 원주시    7700
..        ...     ...
111  충청북도 옥천군      74
112  충청북도 음성군    1080
113  충청북도 제천시    1522
114  충청북도 청주시  116078
115  충청북도 충주시   47262

[116 rows x 2 columns]

In [26]:
asc_df_MTV6 = sum_trading_volume6.sort_values('거래량', ascending=False).reset_index()
asc_df_MTV6

     index        산지명      거래량
0       81   전라남도 신안군  1906882
1       87   전라남도 진도군  1499216
2       53      부산광역시   419836
3        9    경기도 구리시   325520
4       60  서울특별시 송파구   152216
..     ...        ...      ...
111     43   경상북도 포항시       20
112    104   충청남도 부여군       18
113     65  울산광역시 울주군       14
114     51   대전광역시 동구       10
115    109   충청남도 홍성군        2

[116 rows x 3 columns]

In [27]:
asc_df_MTV6.sum()

index                                                 6670
산지명      전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...
거래량                                                6405142
dtype: object

In [28]:
asc_df_MTV6.loc["Total", :] = asc_df_MTV6.sum()

In [29]:
asc_df_MTV6

        index                                                산지명        거래량
0        81.0                                           전라남도 신안군  1906882.0
1        87.0                                           전라남도 진도군  1499216.0
2        53.0                                              부산광역시   419836.0
3         9.0                                            경기도 구리시   325520.0
4        60.0                                          서울특별시 송파구   152216.0
...       ...                                                ...        ...
112     104.0                                           충청남도 부여군       18.0
113      65.0                                          울산광역시 울주군       14.0
114      51.0                                           대전광역시 동구       10.0
115     109.0                                           충청남도 홍성군        2.0
Total  6670.0  전라남도 신안군전라남도 진도군부산광역시경기도 구리시서울특별시 송파구경상남도 김해시부...  6405142.0

[117 rows x 3 columns]

### 데이터 시각화 ###

In [85]:
import plotly.offline as pyo
import plotly.graph_objs as go

trace = go.Bar(x=result2['index'], y=result2['거래량'])
data = [trace]
layout = go.Layout(title='2020 vs 2021 1~3월 대파 총 거래량 비교')
fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)